﻿body {
    width: 1368px;
    margin: auto;
    font-family: "Roboto", sans-serif;
}

.container {
    padding: 20px;
}

table, td, th {
    border: 1px solid #000;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.section-title {
    background-color: #292929;
    position: relative;
    width: 4%;
    border-bottom: 2px solid #fff;
}

    .section-title > div {
        position: absolute;
        transform: translateX(45%) rotate(-90deg);
        height: 80px;
        max-width: 50px;
        white-space: nowrap;
        display: block;
        font-weight: 900;
        color: #fff;
        bottom: 0;
    }

    .section-title .fix-line {
        max-width: 40px;
    }

.header {
}

    .header .form-title {
        background: #292929;
        color: #fff;
        font-weight: 900;
    }

.personal-data span {
    font-weight: 900;
}

.fam-background {
    min-height: 250px;
}

    .fam-background .header-title {
        border-bottom: 1px solid transparent;
        height: 1px;
        background: #e7e7e7;
        padding: 0px 10px;
    }

    .fam-background .sub-title {
        height: 1px;
        background: #e7e7e7;
        padding: 0px 10px;
    }

.education {
}

    .education .header-title {
        background: #e7e7e7;
    }

    .education th.date {
        padding: 10px 0 0;
    }

    .education .date-range th:first-child {
        border-left: 1px solid transparent;
        border-bottom: 1px solid transparent;
    }

    .education .date-range th:last-child {
        border-right: 1px solid transparent;
        border-bottom: 1px solid transparent;
    }

    .education .date-range td:first-child {
        border-left: 1px solid transparent;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
    }

    .education .date-range td:last-child {
        border-right: 1px solid transparent;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
    }

    .education td.date {
        padding: 0 0 0;
    }

.emp-record span {
    background: #e7e7e7;
    font-weight: 900;
}

.emp-record .section-title {
    padding-top: 0;
    padding-bottom: 0;
    height: 1px;
}

.training-attend {
    min-height: 230px;
}

    .training-attend .header-title {
        background: #e7e7e7;
    }

.membership-org {
    min-height: 230px;
}

    .membership-org .header-title {
        background: #e7e7e7;
    }

.awards-cert {
    min-height: 230px;
}

    .awards-cert .header-title {
        background: #e7e7e7;
    }

.other-info {
    min-height: 150px;
}

    .other-info .header-title {
        background: #e7e7e7;
    }
/* .decleration .header-title {
          background: #e7e7e7;
        } */
.residence {
    min-height: 300px;
}

    .residence .header-title {
        height: 1px;
        border-bottom: 1px solid transparent;
    }

.footer {
    text-align: right;
    margin-top: 20px;
    font-style: italic;
}
