﻿@using System.Web;
@model LoginViewModel

@{
    Layout = null;
    //var r = HttpUtility.ParseQueryString(Context.Request.QueryString.ToString()).Get("ReturnUrl") ;

    var returnUrl = @Context.Request.Query["returnurl"];
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon-76x76.png">
    <link rel="icon" type="image/png" href="~/assets/img/favicon-96x96.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        KMBI RECRUITMENT SYSTEM
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/paper-dashboard.css?v=2.1.1" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/assets/demo/demo.css" rel="stylesheet" />
    <link href="~/css/spinner.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
</head>
<body class="login-page">
    <!-- spinner -->
    <partial name="_BusyIndicatorPartial" />
    <div class="loading">
        Loading&#8230;
    </div>
    @*<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
            <div class="container">
                <div class="navbar-wrapper">
                    <div class="navbar-toggle">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>
                    <a class="navbar-brand" href="javascript:;">
                        <img width="40" height="40" src="~/assets/img/kmbi1.png" />
                        KMBI RECRUITMENT SYSTEM
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="modal" data-target="#adminModal" data-backdrop="static" data-keyboard="false">
                                    <i class="nc-icon nc-layout-11"></i>
                                    AdminLogin
                                </a>
                            </li>
                        <li class="nav-item ">
                            <a asp-action="Register" asp-controller="Account" class="nav-link">
                                <i class="nc-icon nc-book-bookmark"></i>
                                Register
                            </a>
                        </li>
                        <li class="nav-item  active ">
                                <a href="login.html" class="nav-link">
                                    <i class="nc-icon nc-tap-01"></i>
                                    Login
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a href="user.html" class="nav-link">
                                    <i class="nc-icon nc-satisfied"></i>
                                    User
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a href="lock.html" class="nav-link">
                                    <i class="nc-icon nc-key-25"></i>
                                    Lock
                                </a>
                            </li>
                    </ul>
                </div>
            </div>
        </nav>*@
    
    <div class="wrapper wrapper-full-page">
        <div class="full-page section-image" filter-color="black" data-image="/assets/img/bg/fabio-mangione.jpg">
            <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
            @*<div class="content">*@
            <div class="container">
                <br />
                <br />
                <br />
                <div class="text-center">
                    <h5>
                        <a href="javascript:;">
                            <img width="40" height="40" src="~/assets/img/kmbi1.png" />
                            <b>KMBI RECRUITMENT SYSTEM</b>
                        </a>
                    </h5>
                </div>
                <br />
                <br />
                <br />
                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <form asp-action="Login" asp-controller="Account" asp-route-returnurl="@returnUrl" id="LoginValidation">
                        <div class="card card-login">
                            <div class="card-header ">
                                <div class="card-header ">
                                    <h3 class="header text-center">Login</h3>
                                </div>
                            </div>
                            <div class="card-body ">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="nc-icon nc-single-02"></i>
                                        </span>
                                    </div>
                                    <input type="email" asp-for="email" placeholder="Enter email" class="form-control" required="true" autocomplete="off">
                                    @*<br/>
                            <span asp-validation-for="email" class="text-danger"></span>*@
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="nc-icon nc-key-25"></i>
                                        </span>
                                    </div>
                                    <input type="password" asp-for="password" placeholder="Password" class="form-control input-no-border" required="true">
                                    @*<br />
                            <span asp-validation-for="password" class="text-danger"></span>*@

                                </div>
                                <div>@Html.ValidationMessage("Error")</div>

                            </div>
                            <div class="card-footer ">
                                <button class="btn btn-warning btn-round btn-block mb-3">Let's go</button>
                                <br />
                                <div class="form-group text-center">
                                    Don't have account yet?
                                    <br />
                                    <a asp-action="Register" asp-controller="Account" class="nav-link">
                                        <i class="fa fa-user-plus"></i>
                                        REGISTER HERE
                                    </a>
                                    @*<div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="" checked="">
                                    <span class="form-check-sign"></span>
                                    Subscribe to newsletter
                                </label>
                            </div>*@
                                </div>
                                <hr />

                                <div class="text-center">
                                    <a class="nav-link" href="#" data-toggle="modal" data-target="#forgotPassword" data-backdrop="static" data-keyboard="false">
                                        <i class="fa fa-lock"></i>
                                        Forgot Password?
                                    </a>
                                </div>
                            </div>

                        </div>

                    </form>
                </div>

            </div>
            @*</div>*@
            <br />
            <br />
            <footer class="footer footer-black  footer-white ">
                <div class="container-fluid">
                    <div class="row">
                        @*<nav class="footer-nav">
                                <ul>
                                    <li><a href="https://www.creative-tim.com" target="_blank">Creative Tim</a></li>
                                    <li><a href="https://www.creative-tim.com/blog" target="_blank">Blog</a></li>
                                    <li><a href="https://www.creative-tim.com/license" target="_blank">Licenses</a></li>
                                </ul>
                            </nav>*@
                        <div class="credits ml-auto">
                            <span class="copyright">
                                ©
                                <script>
                                    document.write(new Date().getFullYear())
                                </script>, KMBI-HCD
                            </span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!--MODALS-->
    <!--ADD ADMIN LOGIN-->
    <div class="modal fade" id="forgotPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLabel">Forgot Password</h5>
                </div>
                <div class="modal-body">

                    <label>Email address</label>
                    <div class="form-group">
                        <input type="email" id="adminEmail" class="form-control" placeholder="Enter email">
                    </div>
                    @*<label>Password</label>
                        <div class="form-group">
                            <input type="password" id="adminPassword" class="form-control" placeholder="Password">
                        </div>*@

                </div>
                <div class="modal-footer">
                    <div class="left-side">
                        <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Back to Log In</button>
                    </div>
                    <div class="divider"></div>
                    <div class="right-side">
                        <button id="emailPassword" class="btn btn-danger btn-link">Send Email</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--   Core JS Files   -->
    <script src="~/assets/js/core/jquery.min.js"></script>
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/assets/js/plugins/moment.min.js"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="~/assets/js/plugins/bootstrap-switch.js"></script>
    <!--  Plugin for Sweet Alert -->
    @*<script src="~/assets/js/plugins/sweetalert2.min.js"></script>*@
    <!-- Forms Validations Plugin -->
    <script src="~/assets/js/plugins/jquery.validate.min.js"></script>
    <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="~/assets/js/plugins/jquery.bootstrap-wizard.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="~/assets/js/plugins/bootstrap-selectpicker.js"></script>
    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="~/assets/js/plugins/bootstrap-datetimepicker.js"></script>
    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
    <script src="~/assets/js/plugins/jquery.dataTables.min.js"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="~/assets/js/plugins/bootstrap-tagsinput.js"></script>
    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="~/assets/js/plugins/jasny-bootstrap.min.js"></script>
    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src="~/assets/js/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/assets/js/plugins/fullcalendar/daygrid.min.js"></script>
    <script src="~/assets/js/plugins/fullcalendar/timegrid.min.js"></script>
    <script src="~/assets/js/plugins/fullcalendar/interaction.min.js"></script>
    <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
    <script src="~/assets/js/plugins/jquery-jvectormap.js"></script>
    <!--  Plugin for the Bootstrap Table -->
    <script src="~/assets/js/plugins/nouislider.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chart JS -->
    <script src="~/assets/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/assets/js/paper-dashboard.min.js?v=2.1.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
    <script src="~/assets/demo/demo.js"></script>
    <script>
        $(document).ready(function () {
            function setFormValidation(id) {
                $(id).validate({
                    highlight: function (element) {
                        $(element).closest('.input-group').removeClass('has-success').addClass('has-danger');
                        $(element).closest('.form-check').removeClass('has-success').addClass('has-danger');
                    },
                    success: function (element) {
                        $(element).closest('.input-group').removeClass('has-danger').addClass('has-success');
                        $(element).closest('.form-check').removeClass('has-danger').addClass('has-success');
                    },
                    errorPlacement: function (error, element) {
                        $(element).closest('.input-group').append(error);
                    },
                });
            }
            demo.checkFullPageBackgroundImage();
            setFormValidation('#RegisterValidation');
            setFormValidation('#TypeValidation');
            setFormValidation('#LoginValidation');
            setFormValidation('#AdminValidation');
            setFormValidation('#RangeValidation');
        });
    </script>

    <script>
        function displayBusyIndicator() {
            $('.loading').show();
        }
        $(window).on('beforeunload', function () {
            displayBusyIndicator();
        });
        $(document).on('submit', 'form', function () {
            displayBusyIndicator();
        });

    </script>

    <script>
        function IsEmail(email) {
            var regex = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
            if (!regex.test(email)) {
                return false;
            } else {
                return true;
            }
        }

        $(document).ready(function () {
            $('#emailPassword').click(function () {
                var adminEmail = $("#adminEmail").val();

                if (adminEmail == "") {
                    swal("Error!", "Email Address is required", "error");
                }
                else if (!IsEmail(adminEmail)) {
                    swal("Error!", "Please input valid email address.", "error");
                }
                else {
                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("checkAlreadyRegistered", "Account")",
                        data: {
                            email: adminEmail
                        },
                        success: function (data) {
                            console.log(data);
                            if (data == true) {
                                swal("Error!", "Email not found", "error");
                            }
                            else {
                                $.ajax({
                                    type: "GET",
                                    url: "@Url.Action("ForgotPassword", "Account")",
                                    data: {
                                        email: adminEmail
                                    },
                                    success: function (data) {
                                        swal("Sent!", "Please check your email", "success");
                                    }
                                })
                            }
                    }
                })
            }
        });
        });


    </script>

    <script>
        $(document).ready(function () {
            $('#adminLogin').click(function () {
                var formData = new FormData();
                var adminEmail = $("#adminEmail").val();
                var adminPassword = $("#adminPassword").val();

                formData.append("email", adminEmail);
                formData.append("password", adminPassword);
                formData.append("returnUrl", null);

                if (adminEmail == "") {
                    swal("Error!", "Email Address is required", "error");
                }
                else if (adminPassword == "") {
                    swal("Error!", "Password is required", "error");
                }
                else {
                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("ValidateAdminEmail", "Account")",
                        data: {
                            email: adminEmail
                        },
                        success: function (data) {
                            if (data == false) {
                                swal("Error!", "Email not found", "error");
                            }
                            else {
                                $.ajax({
                                    type: "GET",
                                    url: "@Url.Action("ValidateAdminPassword", "Account")",
                                    data: {
                                        password: adminPassword,
                                        email: adminEmail
                                    },
                                    success: function (data) {
                                        if (data == false) {
                                            swal("Error!", "Password mismatch", "error");
                                        }
                                        else {
                                            window.location.href='@Url.Action("Index", "Admin")';
                                            @*$.ajax({
                                                type: "POST",
                                                url: "@Url.Action("AdminLogin", "Account")",
                                                data: formData,
                                                processData: false,
                                                contentType: false,
                                                success: function (data) {
                                                    window.location.href='@Url.Action("Admin", "Home")';
                                                }
                                            })*@
                                        }
                                    }
                                })
                            }
                    }
                })
            }
        });
        });


    </script>
</body>
<!--   Core JS Files. Extra: TouchPunch for touch library inside jquery-ui.min.js   -->

</html>
