﻿
@{
    Layout = null;

    var exist = ViewBag.Message;
}
@model RegistrationViewModel

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon-76x76.png">
    <link rel="icon" type="image/png" href="~/assets/img/favicon-96x96.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        KMBI Recruitment System
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/paper-dashboard.css?v=2.1.1" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../assets/demo/demo.css" rel="stylesheet" />
    <link href="~/css/spinner.css" rel="stylesheet" />
</head>
<body class="login-page">
    <div class="loading">
        Loading&#8230;
    </div>
    @*<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container">
            @*<div class="navbar-wrapper">
                <div class="navbar-toggle">
                    <button type="button" class="navbar-toggler">
                        <span class="navbar-toggler-bar bar1"></span>
                        <span class="navbar-toggler-bar bar2"></span>
                        <span class="navbar-toggler-bar bar3"></span>
                    </button>
                </div>

            </div>*@
    @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>*@
    @*<div class="collapse navbar-collapse justify-content-end" id="navigation">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="../dashboard.html" class="nav-link">
                                <i class="nc-icon nc-layout-11"></i>
                                Admin Login
                            </a>
                        </li>
                        <li class="nav-item  active ">
                                <a href="register.html" class="nav-link">
                                    <i class="nc-icon nc-book-bookmark"></i>
                                    Register
                                </a>
                            </li>
                        <li class="nav-item ">
                            <a asp-action="Login" asp-controller="Account" class="nav-link">
                                <i class="nc-icon nc-tap-01"></i>
                                Login
                            </a>
                        </li>
                        <li class="nav-item ">
                                <a href="user.html" class="nav-link">
                                    <i class="nc-icon nc-satisfied"></i>
                                    User
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a href="lock.html" class="nav-link">
                                    <i class="nc-icon nc-key-25"></i>
                                    Lock
                                </a>
                            </li>
                    </ul>
                </div>
            </div>
        </nav>*@
    
    <div class="wrapper wrapper-full-page">
        <div class="full-page register-page section-image" filter-color="black" data-image="../assets/img/bg/jan-sendereks.jpg">

            <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
            @*<div class="content">*@
            <div class="container">
                <br />
                <br />
                <br />
                <div class="text-center">
                    <h5>
                        <a href="javascript:;">
                            <img width="40" height="40" src="~/assets/img/kmbi1.png" />
                            <b>KMBI RECRUITMENT SYSTEM</b>
                        </a>
                    </h5>
                </div>
                <br />
                <br /><div class="row">

                    <div class="col-lg-5 col-md-5 ml-auto">
                        @*<div class="info-area info-horizontal mt-5">
                            <div class="icon icon-primary">
                                <i class="fa fa-search-plus"></i>
                            </div>
                            <div class="description">
                                <h5 class="info-title">“WE’RE HIRING” </h5>
                                <p class="description">
                                    <img width="200px" height="200px" src="~/assets/img/KMBI HIRING.jpg" />
                                </p>
                            </div>
                        </div>*@
                        <div class="info-area info-horizontal">
                            <div class="icon icon-primary">
                                <i class="fa fa-podcast"></i>
                            </div>
                            <div class="description">
                                <h5 class="info-title">Overview</h5>
                                <p class="description">

                                    KMBI is always in the lookout for passionate and talented individuals to join our team. If you find fulfillment in working for the upliftment of the poor, sharing your talents and skills, we highly encourage you to work with us.
                                </p>
                                <p><iframe width="100%" height="200px" src="https://www.youtube.com/embed/HqDLSjOWEAs" frameborder="0" allowfullscreen=""></iframe></p>
                            </div>
                        </div>
                        <div class="info-area info-horizontal">
                            <div class="icon icon-info">
                                <i class="fa fa-user-plus"></i>
                            </div>
                            <div class="description">
                                <h5 class="info-title">Staff Benefits</h5>
                                <p class="description">
                                    <i class="fa fa-hand-o-right"></i> HMO( 150,000.00)<br />
                                    <i class="fa fa-hand-o-right"></i> Life Accident Insurance <br />
                                    <i class="fa fa-hand-o-right"></i> Rice Subsidy <br />
                                    <i class="fa fa-hand-o-right"></i> Company Uniform <br />
                                    <i class="fa fa-hand-o-right"></i> Monday to Friday Working Hours <br />
                                    <i class="fa fa-hand-o-right"></i> Travel <br />
                                    <i class="fa fa-hand-o-right"></i> Communication Allowance <br />
                                    <i class="fa fa-hand-o-right"></i> 15 days VL and SL <br />
                                    <i class="fa fa-hand-o-right"></i> Capacity Building <br />
                                    <i class="fa fa-hand-o-right"></i> Training <br />
                                    <i class="fa fa-hand-o-right"></i> Leave Conversion and many more...
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mr-auto">
                        <div class="card card-signup text-center">
                            <div class="card-header ">
                                <h4 class="card-title">Register</h4>
                            </div>
                            <div class="card-body">
                                <form asp-action="Register" asp-controller="Account" method="post" id="RegisterValidation">
                                    <div class="card card-plain">
                                        <div class="content">
                                            @if (exist == "Exist")
                                            {

                                                <div class="alert alert-danger">
                                                    <button type="button" aria-hidden="true" class="close"></button>
                                                    <span>@Html.ValidationMessage("Error")</span>
                                                </div>
                                            }
                                            @if (exist == "NotExist")
                                            {

                                                <div class="alert alert-success">
                                                    <button type="button" aria-hidden="true" class="close"></button>
                                                    <span>@Html.ValidationMessage("Error")</span>
                                                </div>
                                            }
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="nc-icon nc-single-02"></i>
                                                    </span>
                                                </div>
                                                <input type="text" asp-for="firstName" placeholder="Your First Name" class="form-control" required="true">
                                                @*<span asp-validation-for="firstName" class="text-danger"></span>*@
                                            </div>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="nc-icon nc-single-02"></i>
                                                    </span>
                                                </div>
                                                <input type="text" asp-for="middleName" placeholder="Your Middle Name" class="form-control" required="true">
                                                @*<span asp-validation-for="middleName" class="text-danger"></span>*@
                                            </div>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="nc-icon nc-single-02"></i>
                                                    </span>
                                                </div>
                                                <input type="text" asp-for="lastName" placeholder="Your Last Name" class="form-control" required="true">
                                                @*<span asp-validation-for="lastName" class="text-danger"></span>*@
                                            </div>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="nc-icon nc-email-85"></i>
                                                    </span>
                                                </div>
                                                <input type="email" asp-for="email" placeholder="Enter email" class="form-control" required="true">
                                                @*<span asp-validation-for="email" class="text-danger"></span>*@
                                            </div>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="nc-icon nc-key-25"></i>
                                                    </span>
                                                </div>
                                                <input type="password" asp-for="password" placeholder="Password" class="form-control" required="true">
                                                @*<span asp-validation-for="password" class="text-danger"></span>*@
                                            </div>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="nc-icon nc-key-25"></i>
                                                    </span>
                                                </div>
                                                <input type="password" asp-for="confirmPassword" placeholder="Password Confirmation" class="form-control" required="true">

                                            </div>
                                            <span asp-validation-for="confirmPassword" class="text-danger"></span>
                                            <div class="form-check text-left">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="chkTerms">
                                                    <span class="form-check-sign"></span>
                                                    I agree to the <a href="https://www.kmbi.org.ph/contact-us/data-privacy-statement" target="_blank">Terms and Conditions</a>.
                                                </label>
                                            </div>


                                            @*@Html.ValidationMessage("Error", new { @class = "has-error" })*@

                                        </div>
                                        <div class="card-footer">
                                            <button class="btn btn-fill btn-danger btn-wd" disabled id="submitBtn">Sign Up</button>
                                            <hr />
                                            Already have an Account?
                                            <a asp-action="Login" asp-controller="Account" class="nav-link">
                                                <i class="nc-icon nc-tap-01"></i>
                                                <b>SIGN IN HERE</b>
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            @*</div>*@
            <br />
            <br />
            <footer class="footer footer-transparent">
                <div class="container">
                    <div class="copyright text-center">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script>, KMBI-HCD
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!--   Core JS Files   -->
    <script src="../assets/js/core/jquery.min.js"></script>
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap.min.js"></script>
    <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="../assets/js/plugins/moment.min.js"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="../assets/js/plugins/bootstrap-switch.js"></script>
    <!--  Plugin for Sweet Alert -->
    <script src="../assets/js/plugins/sweetalert2.min.js"></script>
    <!-- Forms Validations Plugin -->
    <script src="../assets/js/plugins/jquery.validate.min.js"></script>
    <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="../assets/js/plugins/jquery.bootstrap-wizard.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="../assets/js/plugins/bootstrap-selectpicker.js"></script>
    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="../assets/js/plugins/bootstrap-datetimepicker.js"></script>
    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
    <script src="../assets/js/plugins/jquery.dataTables.min.js"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="../assets/js/plugins/bootstrap-tagsinput.js"></script>
    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="../assets/js/plugins/jasny-bootstrap.min.js"></script>
    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src="../assets/js/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script src="../assets/js/plugins/fullcalendar/daygrid.min.js"></script>
    <script src="../assets/js/plugins/fullcalendar/timegrid.min.js"></script>
    <script src="../assets/js/plugins/fullcalendar/interaction.min.js"></script>
    <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
    <script src="../assets/js/plugins/jquery-jvectormap.js"></script>
    <!--  Plugin for the Bootstrap Table -->
    <script src="../assets/js/plugins/nouislider.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chart JS -->
    <script src="../assets/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="../assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../assets/js/paper-dashboard.min.js?v=2.1.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
    <script src="../assets/demo/demo.js"></script>
    <script>
        $(document).ready(function () {
            function setFormValidation(id) {
                $(id).validate({
                    highlight: function (element) {
                        $(element).closest('.input-group').removeClass('has-success').addClass('has-danger');
                        $(element).closest('.form-check').removeClass('has-success').addClass('has-danger');
                    },
                    success: function (element) {
                        $(element).closest('.input-group').removeClass('has-danger').addClass('has-success');
                        $(element).closest('.form-check').removeClass('has-danger').addClass('has-success');
                    },
                    errorPlacement: function (error, element) {
                        $(element).closest('.input-group').append(error);
                    },
                });
            }
            demo.checkFullPageBackgroundImage();
            setFormValidation('#RegisterValidation');
            setFormValidation('#TypeValidation');
            setFormValidation('#LoginValidation');
            setFormValidation('#RangeValidation');
        });
    </script>

    <script>


        $(document).ready(function () {
            var the_terms = $("#chkTerms");

            the_terms.click(function () {
                if ($(this).is(":checked")) {
                    $("#submitBtn").removeAttr("disabled");
                } else {
                    $("#submitBtn").attr("disabled", "disabled");
                }
            });
        });
    </script>

    <script>
        function displayBusyIndicator() {
            $('.loading').show();
        }
        $(window).on('beforeunload', function () {
            displayBusyIndicator();
        });
        $(document).on('submit', 'form', function () {
            displayBusyIndicator();
        });

    </script>

</body>

</html>
