﻿
@using Recruitment.Models.IRepo;
@inject iUserManager UserManager;
@inject iAccountRepository _Account;

@{
    bool isAdmin = false;
    string slug;
    string firstname;
    string middlename;
    string lastname;
    string pict = "../../assets/img/default-avatar.png";
    string lLastName;
    int id;
    string branch;
    string department;

    isAdmin = UserManager.GetCurrentUser(this.Context).isAdmin;
    slug = UserManager.GetCurrentUser(this.Context).slug.ToString();
    id = UserManager.GetCurrentUser(this.Context).id;
    firstname = UserManager.GetCurrentUser(this.Context).firstName.ToUpper();
    middlename = UserManager.GetCurrentUser(this.Context).middleName.ToUpper().Substring(0, 1);
    lLastName = UserManager.GetCurrentUser(this.Context).lastName.ToUpper().Substring(0, 1) + ".";
    lastname = UserManager.GetCurrentUser(this.Context).lastName.ToUpper();
    // pict = UserManager.GetCurrentUser(this.Context).picture;
    branch = UserManager.GetCurrentUser(this.Context).branch.ToUpper();
    department = UserManager.GetCurrentUser(this.Context).department.ToUpper();

    var infoDetails = _Account.getInfoDetails(UserManager.GetCurrentUser(this.Context).id);
    if (infoDetails.appPersonalData != null)
    {
        pict = infoDetails.appPersonalData.picture;
    }

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon-76x76.png">
    <link rel="icon" type="image/png" href="~/assets/img/favicon-96x96.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        KMBI Recruitment System
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/paper-dashboard.css?v=2.1.1" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../assets/demo/demo.css" rel="stylesheet" />
    <link href="~/css/spinner.css" rel="stylesheet" />
    <link href="~/dropzone/dropzone.css" rel="stylesheet" />
    <script src="~/dropzone/dropzone.js"></script>

    <link href="../assets/css/jquery-ui.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">

    <link href="../assets/css/bootstrap-multiselect.css" rel="stylesheet" />
    <script src="../assets/js/plugins/jquery.dataTables.min.js"></script>

</head>
<body>
    <div class="loading">
        Loading&#8230;
    </div>
    <div class="wrapper">
        <div class="sidebar" data-background-color="default" data-active-color="danger">
            <!--
                Tip 1: you can change the color of the sidebar's background using: data-background-color="white | brown"
                Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
            -->
            <div class="logo">
                <a href="#" class="simple-text logo-mini">
                    <img width="30" height="30" src="~/assets/img/kmbi1.png" />
                </a>
                <a href="#" class="simple-text logo-normal">
                    KRS
                </a>
            </div>
            <div class="sidebar-wrapper">
                <div class="user">
                    <div class="photo">
                        <img src="@pict" />
                    </div>
                    <div class="info">
                        <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                            <span>
                                @firstname @lLastName
                                <b class="caret"></b>
                            </span>
                        </a>
                        <div class="clearfix"></div>
                        <div class="collapse" id="collapseExample">
                            <ul class="nav">

                                @{
                                    if (isAdmin)
                                    {
                                        <li>
                                            <a asp-action="Index" asp-controller="Admin">
                                                <span class="sidebar-mini-icon">MP</span>
                                                <span class="sidebar-normal">My Profile</span>
                                            </a>
                                        </li>

                                    }
                                    else
                                    {
                                        <li>
                                            <a asp-action="Index" asp-controller="Home">
                                                <span class="sidebar-mini-icon">MP</span>
                                                <span class="sidebar-normal">My Profile</span>
                                            </a>
                                        </li>
                                    }
                                }

                                <li>
                                    <a href="#" data-toggle="modal" data-target="#changePassword" data-backdrop="static" data-keyboard="false">
                                        <span class="sidebar-mini-icon">CP</span>
                                        <span class="sidebar-normal">Change Password</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="nav">
                    @{
                        if (isAdmin)
                        {
                            <li>
                                <a asp-action="Dashboard" asp-controller="Home">
                                    <i class="nc-icon nc-chart-bar-32"></i>
                                    <p>Dashboard</p>
                                </a>
                            </li>

                            <li>
                                <a asp-action="AdminList" asp-controller="JobApplications" asp-route-branch="@branch" asp-route-department="@department">
                                    <i class="fa fa-briefcase"></i>
                                    <p>Job Applications</p>
                                </a>
                            </li>
                            if (branch.Contains("HEAD OFFICE") && department.Contains("HUMAN CAPITAL"))
                            {
                                <li>
                                    <hr style="border-top-color:gray; margin:12px" />
                                    <a asp-action="Index" asp-controller="JobVacancies">
                                        <i class="nc-icon nc-book-bookmark"></i>
                                        <p>Job Vacancies</p>
                                    </a>
                                </li>

                                <li>
                                    <a asp-action="Users" asp-controller="Admin">
                                        <i class="nc-icon nc-circle-10"></i>
                                        <p>System Users</p>
                                    </a>
                                </li>
                            }

                        }
                        else
                        {
                            <li>
                                <a asp-action="ApplicantList" asp-controller="JobApplications" asp-route-applicantId="@id">
                                    <i class="fa fa-briefcase"></i>
                                    <p>My Applications</p>
                                </a>
                            </li>
                            <li>
                                <a asp-action="List" asp-controller="JobVacancies">
                                    <i class="nc-icon nc-book-bookmark"></i>
                                    <p>Job Vacancies</p>
                                </a>
                            </li>

                            <li>
                                <a asp-action="UploadDocs" asp-controller="JobApplications" asp-route-slug="@slug">
                                    <i class="fa fa-file-text" aria-hidden="true"></i>
                                    <p>List of Requirements</p>
                                </a>
                            </li>
                        }
                    }


                </ul>
            </div>
        </div>

        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-minimize">
                            <button id="minimizeSidebar" class="btn btn-icon btn-round">
                                <i class="nc-icon nc-minimal-right text-center visible-on-sidebar-mini"></i>
                                <i class="nc-icon nc-minimal-left text-center visible-on-sidebar-regular"></i>
                            </button>
                        </div>
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="javascript:;">
                            <img width="30" height="30" src="~/assets/img/kmbi1.png" />
                            KMBI Recruitment System
                        </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        @{
                            if (isAdmin)
                            {
                                if (department == "HUMAN CAPITAL")
                                {
                                    <form asp-controller="Admin" style="width:50%" asp-action="Skills" asp-route-searchString="@ViewData["searchString"]" method="get">
                                        <div class="input-group " style="background-color:azure;">
                                            <input type="text" name="searchString" value="@ViewData["searchString"]" class="form-control" placeholder="Search Skills/Talents/Hobbies/Interests...">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <i class="nc-icon nc-zoom-split"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                }
                            }
                        }

                        <form asp-controller="Account" asp-action="Logout" id="logoutForm" method="post">
                            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-round btn-danger">
                                Logout
                            </a>
                        </form>
                        @*<ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link btn-magnify" href="javascript:;">
                    <i class="nc-icon nc-layout-11"></i>
                    <p>
                        <span class="d-lg-none d-md-block">Stats</span>
                    </p>
                </a>
            </li>
            <li class="nav-item btn-rotate dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="nc-icon nc-bell-55"></i>
                    <p>
                        <span class="d-lg-none d-md-block">Some Actions</span>
                    </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-rotate" href="javascript:;">
                    <i class="nc-icon nc-settings-gear-65"></i>
                    <p>
                        <span class="d-lg-none d-md-block">Account</span>
                    </p>
                </a>
            </li>
        </ul>*@
                    </div>
                </div>
            </nav>

            <div class="content">
                @RenderBody()
            </div>

            <footer class="footer footer-black  footer-white ">
                <div class="container-fluid">
                    <div class="row">
                        <nav class="footer-nav">
                            <span class="copyright">
                                ©
                                <script>
                                    document.write(new Date().getFullYear())
                                </script>, KMBI-HCD
                            </span>
                            @*<ul>
                                    <li><a href="https://www.creative-tim.com" target="_blank">Creative Tim</a></li>
                                    <li><a href="https://www.creative-tim.com/blog" target="_blank">Blog</a></li>
                                    <li><a href="https://www.creative-tim.com/license" target="_blank">Licenses</a></li>
                                </ul>*@
                        </nav>
                        @*<div class="credits ml-auto">
                                <span class="copyright">
                                    ©
                                    <script>
                                        document.write(new Date().getFullYear())
                                    </script>, KMBI-HCD
                                </span>
                            </div>*@
                    </div>
                </div>
            </footer>
        </div>
    </div>



    <div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h6 class="modal-title" id="exampleModalLabel">Change Password</h6>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <label class="col-sm-4 col-form-label">New Password</label>
                            <div class="col-sm-8">
                                @*<div class="form-group">
                                        <input type="password" id="cNewPassword" class="form-control">
                                    </div>*@
                                <div class="input-group">
                                    <input type="password" name="cNewPassword" id="cNewPassword" class="form-control" data-toggle="password">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <button class="btn-link btn-icon btn-sm" id="reveal" type="button"><i id="pClass" class="fa fa-eye"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-4 col-form-label">Confirm New Password</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="password" id="cConfirmPassword" class="form-control">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <button class="btn-link btn-icon btn-sm" id="cReveal" type="button"><i id="pClass" class="fa fa-eye"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <div class="left-side">
                        <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Cancel</button>
                    </div>
                    <div class="divider"></div>
                    <div class="right-side">
                        <button id="saveNewPassword" class="btn btn-danger btn-link">Save changes</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--   Core JS Files   -->
    <script src="../assets/js/jquery-3.1.1.min.js"></script>
    @*<script src="../assets/js/core/jquery.min.js"></script>*@
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap.min.js"></script>
    <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="../assets/js/plugins/moment.min.js"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="../assets/js/plugins/bootstrap-switch.js"></script>
    <!--  Plugin for Sweet Alert -->
    @*<script src="../assets/js/plugins/sweetalert2.min.js"></script>*@
    <!-- Forms Validations Plugin -->
    <script src="../assets/js/plugins/jquery.validate.min.js"></script>
    <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="../assets/js/plugins/jquery.bootstrap-wizard.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="../assets/js/plugins/bootstrap-selectpicker.js"></script>
    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="../assets/js/plugins/bootstrap-datetimepicker.js"></script>
    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
    @*<script src="../assets/js/jquery.validate.min.js"></script>
        <script src="../assets/js/jquery.validate.unobtrusive.min.js"></script>*@
    <script src="../assets/js/plugins/jquery.dataTables.min.js"></script>
    @*<script src="../assets/js/jquery-ui-1.12.1.min.js"></script>*@

    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="../assets/js/plugins/bootstrap-tagsinput.js"></script>
    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="../assets/js/plugins/jasny-bootstrap.min.js"></script>
    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src="../assets/js/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script src="../assets/js/plugins/fullcalendar/daygrid.min.js"></script>
    <script src="../assets/js/plugins/fullcalendar/timegrid.min.js"></script>
    <script src="../assets/js/plugins/fullcalendar/interaction.min.js"></script>
    <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
    <script src="../assets/js/plugins/jquery-jvectormap.js"></script>
    <!--  Plugin for the Bootstrap Table -->
    <script src="../assets/js/plugins/nouislider.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxfVioNAN0DeYTAemWs7tyS65t_Y6lXmY"></script>
    <!-- Chart JS -->
    <script src="../assets/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="../assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../assets/js/paper-dashboard.min.js?v=2.1.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
    <script src="../assets/demo/demo.js"></script>
    <script src="../assets/js/bootstrap-multiselect.js"></script>


    <script>
        $(document).ready(function () {
            demo.checkFullPageBackgroundImage();

            demo.initWizard();
            setTimeout(function () {
                $('.card.card-wizard').addClass('active');
            }, 600);

        });
    </script>

    @*<script src="../jQApplications/changePassword.js"></script>*@


    <script>
        function displayBusyIndicator() {
            $('.loading').show();
        }
        $(window).on('beforeunload', function () {
            displayBusyIndicator();
        });
        $(document).on('submit', 'form', function () {
            displayBusyIndicator();
        });
    </script>


    @*<!-- Messenger Chat plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "112574560214490");
        chatbox.setAttribute("attribution", "page_inbox");
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v10.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>*@

    <script>
        $("#reveal").on('click', function () {
    $(this).find('.fa').toggleClass('fa-eye-slash fa-eye');
    var $pwd = $("#cNewPassword");
    if ($pwd.attr('type') === 'password') {
        $pwd.attr('type', 'text');
    } else {
        $pwd.attr('type', 'password');
    }
});
$("#cReveal").on('click', function () {
    $(this).find('.fa').toggleClass('fa-eye-slash fa-eye');
    var $pwd = $("#cConfirmPassword");
    if ($pwd.attr('type') === 'password') {
        $pwd.attr('type', 'text');
    } else {
        $pwd.attr('type', 'password');
    }
});

$('#saveNewPassword').click(function () {
    if ($("#cNewPassword").val().trim() == "") {
        swal("Error", "New Password is required", "error");
    }
    else if ($("#cConfirmPassword").val().trim() == "" || $("#cConfirmPassword").val().trim() != $("#cNewPassword").val().trim()) {
        swal("Error", "Please confirm your new password", "error");
    }
    else {
        console.log($("#cNewPassword").val());
        console.log("@id");
        swal({
            title: "Are you sure you want to change your password?",
            text: "Confirmation",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            closeOnConfirm: false
        }, function () {
            swal({
                title: 'Please Wait..!',
                text: 'Saving Record',
                allowOutsideClick: false,
                allowEscapeKey: false,
                allowEnterKey: false,
                showCancelButton: false,
                showConfirmButton: false,
                onOpen: () => {
                    swal.showLoading()
                }
            })
            $.ajax({
                type: "POST",
                url: "@Url.Action("ChangePassword", "Account")",
                data: {
                    password: $("#cNewPassword").val(),
                    id: "@id"
                },
                success: function (data) {
                    swal({
                        title: "Data successfully saved. ",
                        text: "It will autmatically logout and please use your new password to login",
                        type: "success",
                        showCancelButton: false,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "OK",
                        closeOnConfirm: true
                    }, function () {
                        $('#logoutForm').submit();
                    });

                }
            })
        });
    }
});
    </script>

    @RenderSection("Scripts", required: false)
</body>


</html>
