﻿@{ 
    Layout = null;
}

@using Recruitment.Models.IRepo;
@using Recruitment.Models;
@model applicationViewModel;
@inject iUserManager UserManager;
@inject iAccountRepository account;

@{
    bool isAdmin = false;
    isAdmin = UserManager.GetCurrentUser(this.Context).isAdmin;
    var id = UserManager.GetCurrentUser(this.Context).id;

    var model = account.getInfoDetails(id);

    var negotiable = "";
    if (@Model.appPersonalData.negotiable == true)
    {
        negotiable = "Negotiable";
    }
    else
    {
        negotiable = "Non-Negotiable";
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <title>Application Form - @Model.systemUsers.lastName @Model.systemUsers.firstName</title>

    <style>
        body {
            width: 75%;
            margin: auto;
            font-family: "Roboto", sans-serif;
        }

        .container {
            /*padding: 20px;*/
        }

        table, td, th {
            border: 1px solid #000;
            padding: 5px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        .section-title {
            background-color: #292929;
            position: relative;
            width: 4%;
            border-bottom: 2px solid #fff;
        }

            .section-title > div {
                /*position: absolute;
                transform: translateX(45%) rotate(-90deg);
                height: 80px;
                max-width: 50px;
                white-space: nowrap;
                display: block;*/
                font-weight: 900;
                color: #fff;
                /*bottom: 0;*/
                text-align: center;
            }

            .section-title .fix-line {
                max-width: 40px;
            }

        .header {
        }

            .header .form-title {
                background: #292929;
                color: #fff;
                font-weight: 900;
            }

        .personal-data span {
            font-weight: 900;
        }

        .fam-background {
            /*min-height: 250px;*/
        }

            .fam-background .header-title {
                border-bottom: 1px solid transparent;
                height: 1px;
                background: #e7e7e7;
                padding: 0px 10px;
            }

            .fam-background .sub-title {
                height: 1px;
                background: #e7e7e7;
                padding: 0px 10px;
            }

        .education {
        }

            .education .header-title {
                background: #e7e7e7;
            }

            .education th.date {
                padding: 10px 0 0;
            }

            .education .date-range th:first-child {
                border-left: 1px solid transparent;
                border-bottom: 1px solid transparent;
            }

            .education .date-range th:last-child {
                border-right: 1px solid transparent;
                border-bottom: 1px solid transparent;
            }

            .education .date-range td:first-child {
                border-left: 1px solid transparent;
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;
            }

            .education .date-range td:last-child {
                border-right: 1px solid transparent;
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;
            }

            .education td.date {
                padding: 0 0 0;
            }

        .emp-record span {
            background: #e7e7e7;
            font-weight: 900;
        }

        .emp-record .section-title {
            /*padding-top: 0;
            padding-bottom: 0;
            height: 1px;*/
            background-color: #292929;
            position: relative;
            width: 4%;
            border-bottom: 2px solid #fff;
        }

        .training-attend {
            /*min-height: 230px;*/
        }

            .training-attend .header-title {
                background: #e7e7e7;
            }

        .membership-org {
            /*min-height: 230px;*/
        }

            .membership-org .header-title {
                background: #e7e7e7;
            }

        .awards-cert {
            /*min-height: 230px;*/
        }

            .awards-cert .header-title {
                background: #e7e7e7;
            }

        .other-info {
            /*min-height: 150px;*/
        }

            .other-info .header-title {
                background: #e7e7e7;
            }
        /* .decleration .header-title {
          background: #e7e7e7;
        } */
        .residence {
            /*min-height: 300px;*/
        }

            .residence .header-title {
                height: 1px;
                border-bottom: 1px solid transparent;
            }

        .footer {
            text-align: right;
            margin-top: 20px;
            font-style: italic;
        }
    </style>
</head>
<body>
    <div class="container">
        <table style="border:hidden">
            <tr width="100%">
                <td width="100%">
                    <table>
                        <!-- header -->
                        <tr>
                            <th rowspan="5" colspan="2">
                                <div style="text-align:center">
                                    <img src="~/assets/img/logo.png" />
                                </div>
                                <b>KMBI</b><br><i>(A Microfinance NGO)</i>
                            </th>
                            <th colspan="7" class="form-title">
                                EMPLOYMENT APPLICATION FORM <br>
                                <small><i>Form No. HCDS-002</i></small>
                            </th>
                        </tr>
                        <tr>
                            <td colspan="5">Referred by/ thru : <b>@Model.appPersonalData.referredBy</b></td>
                            <td>Date Filed: <b>@Model.appPersonalData.dateFiled.ToString("MMM dd, yyyy")</b></td>
                            <td rowspan="4" style="width: 13%;"><img style="width:192px; height:192px" class="img-responsive" src="@Model.appPersonalData.picture" /></td>
                        </tr>
                        <tr>
                            <th colspan="4">SOCIAL MEDIA ACCOUNTS</th>
                            <td colspan="2" style="text-align:center">
                                DESIRED SALARY
                                <br />
                                <b>@Model.appPersonalData.desiredSalary.ToString("N2")  @negotiable</b>
                            </td>

                        </tr>
                        <tr>
                            <td colspan="2">Facebook</td>
                            <td colspan="2">Instagram</td>
                            <td colspan="2">Twitter</td>
                        </tr>
                        <tr>
                            <td colspan="2"><small>@Model.appPersonalData.facebook</small></td>
                            <td colspan="2"><small>@Model.appPersonalData.instagram</small></td>
                            <td colspan="2"><small>@Model.appPersonalData.twitter</small></td>
                        </tr>
                    </table>
                    <!-- personal data -->
                    <table class="personal-data">
                        <tr>
                            <td class="section-title" colspan="8">
                                <div>PERSONAL DATA</div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">FULL NAME (Last Name, First Name, Middle Name) <br> <b>@Model.systemUsers.lastName, @Model.systemUsers.firstName @Model.systemUsers.middleName </b></td>
                            <td>Nickname <br> <b>@Model.appPersonalData.nickName</b></td>
                            <td>Gender <br> <b>@Model.appPersonalData.sex</b></td>
                            <td>Blood Type <br> <b>@Model.appPersonalData.bloodType</b></td>

                        </tr>
                        <tr>
                            <td>Birthplace <br> <b>@Model.appPersonalData.birthPlace</b></td>
                            <td>Citizenship <br> <b>@Model.appPersonalData.citizenship</b></td>
                            <td>Weight <br> <b>@Model.appPersonalData.weight</b></td>
                            <td>Height <br> <b>@Model.appPersonalData.height</b></td>
                            <td>Civil Status <br> <b>@Model.appPersonalData.civilStatus</b></td>
                            <td>Religious Affiliation <br> <b>@Model.appPersonalData.religiousAffiliation</b></td>
                        </tr>
                        <tr>
                            <td>SSS / GSIS No. <br> <b>@Model.appPersonalData.sss</b></td>
                            <td colspan="2">TIN <br> <b>@Model.appPersonalData.tin</b></td>
                            <td>Tax Status <br> <b>@Model.appPersonalData.taxStatus</b></td>
                            <td>Pag-ibig No. <br> <b>@Model.appPersonalData.pagibig</b></td>
                            <td>Philhealth No. <br> <b>@Model.appPersonalData.philhealth</b></td>
                        </tr>
                        <tr>
                            <td colspan="2">Landline No. <br><b>@Model.appPersonalData.landline</b></td>
                            <td colspan="2">Mobile No. <br><b>@Model.appPersonalData.mobile</b></td>
                            <td colspan="2">E-mail Address <br> <b>@Model.systemUsers.email</b></td>
                        </tr>
                        <tr>
                            <td colspan="3">Present Address <br> <b>@Model.appPersonalData.presentAddress</b></td>
                            <td colspan="3">
                                Years of Stay <u><b>@Model.appPersonalData.yearsStay</b></u> : ( &check; ) Own <br> ( &check; ) Rent at Php <u><b>@Model.appPersonalData.rentAmount</b></u>/ mo
                                Live with <u><b>@Model.appPersonalData.liveWith</b></u>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">Permanent / Provincial Address <br> <b>@Model.appPersonalData.permanentAddress</b></td>
                            <td colspan="2">Contact No <br> <b>@Model.appPersonalData.permanentAddressContact</b></td>
                            <td>Zip Code <br> <b>@Model.appPersonalData.permanentAddressZipCode</b></td>
                        </tr>
                        <tr>
                            <td colspan="3">Other known addresses <br> <b>@Model.appPersonalData.otherAddress</b></td>
                            <td colspan="2">Contact No <br> <b>@Model.appPersonalData.otherAddressContact</b></td>
                            <td>Zip Code <br> <b>@Model.appPersonalData.otherAddressZipCode</b></td>
                        </tr>
                    </table>

                    <!-- family background -->
                    <table class="fam-background">
                        <tr>
                            <td class="section-title" colspan="8">
                                <div>FAMILY BACKGROUND</div>
                            </td>
                        </tr>
                        @{

                            if (Model.appFamilyBackground != null)
                            {

                                <tr>
                                    <th colspan="2" class="header-title">Name</th>
                                    <th class="header-title">Birthday (Age)</th>
                                    <th class="header-title">Relationship</th>
                                    <th class="header-title" colspan="2">Occupation-Employer / School – Course / Contact Number</th>
                                </tr>
                                <tr>
                                    <td colspan="2" class="sub-title">
                                        <small>
                                            (Family Background refers to your spouse, children, parents, <br>
                                            siblings or any of your relatives living under the same <br>
                                            roof or dependent upon the employed members of your family for support)
                                        </small>
                                    </td>
                                    <td class="sub-title"></td>
                                    <td class="sub-title"></td>
                                    <td class="sub-title"></td>
                                </tr>
                                foreach (var item in Model.appFamilyBackground)
                                {
                                    int age = 0;
                                    age = DateTime.Now.Year - item.birthDate.Year;
                                    if (DateTime.Now.DayOfYear < item.birthDate.DayOfYear)
                                    {
                                        age = age - 1;
                                    }
                                    <tr style="height: 1px;">
                                        <td colspan="2"><b>@item.name</b></td>
                                        <td><b>@item.relationship</b></td>
                                        <td><b>@item.birthDate.ToString("MMM dd, yyyy") / @age</b></td>
                                        <td>@item.occupation / @item.school <br /> @item.course / @item.contact</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr style="background-color:lightblue"><td align="center"><b>NO RECORD FOUND</b></td></tr>
                            }

                        }
                    </table>

                    <!-- education -->
                    <table class="education">
                        <tr>
                            <td class="section-title" colspan="8">
                                <div>EDUCATION</div>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2" class="header-title">School Name & Address</th>
                            <th class="header-title">Degree / Course</th>
                            <th class="header-title date">
                                Inclusive Dates of <br> Attendance
                                <table class="date-range">
                                    <tr>
                                        <th>
                                            From <br>
                                            Month / Year
                                        </th>
                                        <th>
                                            To <br>
                                            Month / Year
                                        </th>
                                    </tr>
                                </table>
                            </th>
                            <th class="header-title">Scholarship/ Honors/ Awards</th>
                        </tr>
                        <tr>
                            <td>Elementary</td>
                            <td>
                                <b>@Model.appEducation.elementary</b><br />
                                @Model.appEducation.elemAddress
                            </td>
                            <td><b>@Model.appEducation.elemDegree</b></td>
                            <td class="date">
                                <table class="date-range">
                                    <tr>
                                        <td align="center"><b>@Model.appEducation.elemFrom</b></td>
                                        <td align="center"><b>@Model.appEducation.elemTo</b></td>
                                    </tr>
                                </table>
                            </td>
                            <td><b>@Model.appEducation.elemAwards</b></td>
                        </tr>
                        <tr>
                            <td>High School</td>
                            <td>
                                <b>@Model.appEducation.highSchool</b><br />
                                @Model.appEducation.highAddress
                            </td>
                            <td><b>@Model.appEducation.highDegree</b></td>
                            <td class="date">
                                <table class="date-range">
                                    <tr>
                                        <td align="center"><b>@Model.appEducation.highFrom</b></td>
                                        <td align="center"><b>@Model.appEducation.highTo</b></td>
                                    </tr>
                                </table>
                            </td>
                            <td><b>@Model.appEducation.highAwards</b></td>
                        </tr>
                        <tr>
                            <td>College</td>
                            <td>
                                <b>@Model.appEducation.college</b><br />
                                @Model.appEducation.collAddress
                            </td>
                            <td><b>@Model.appEducation.collDegree</b></td>
                            <td class="date">
                                <table class="date-range">
                                    <tr>
                                        <td align="center"><b>@Model.appEducation.collFrom</b></td>
                                        <td align="center"><b>@Model.appEducation.collTo</b></td>
                                    </tr>
                                </table>
                            </td>
                            <td><b>@Model.appEducation.collAwards</b></td>
                        </tr>
                        <tr>
                            <td>Others</td>
                            <td>
                                <b>@Model.appEducation.othDegree</b><br />
                                @Model.appEducation.othAddress
                            </td>
                            <td><b>@Model.appEducation.othDegree</b></td>
                            <td class="date">
                                <table class="date-range">
                                    <tr>
                                        <td align="center"><b>@Model.appEducation.othFrom</b></td>
                                        <td align="center"><b>@Model.appEducation.othTo</b></td>
                                    </tr>
                                </table>
                            </td>
                            <td><b>@Model.appEducation.othAwards</b></td>
                        </tr>
                    </table>

                    <!-- employee record -->
                    <table class="emp-record">
                        <!-- PRESENT / PREVIOUS EMPLOYER -->
                        <tr>
                            <td class="section-title" colspan="8">
                                <div>EMPLOYMENT RECORD</div>
                            </td>
                        </tr>

                        @{
                            if (Model.appEmployment != null)
                            {
                                foreach (var item in Model.appEmployment)
                                {
                                    <tr>
                                        <td colspan="3"> <span>PRESENT / PREVIOUS EMPLOYER</span> <br> <b>@item.employer</b></td>
                                        <td colspan="3"><i>Position & Department</i> <br> <b>@item.position - @item.department</b></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"><i>Address</i> <br> <b>@item.address</b></td>
                                        <td colspan="3"><i>Job Functions</i> <br> <b>@item.jobFunctions</b></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><i>Name of Immediate Superior& Position</i> <br> <b>@item.isName</b></td>
                                        <td><i>Contact No.</i> <br> <b>@item.contact</b></td>
                                        <td colspan="3"><i>Status of Appointment</i> <br> <b>@item.appointmentStatus</b></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            Period of Employment
                                            <table>
                                                <tr>
                                                    <td><i>From:</i> <b>@item.empFrom</b></td>
                                                    <td><i>To:</i> <b>@item.empTo</b></td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            Latest Salary
                                            <table>
                                                <tr>
                                                    <td><i>Starting:</i> <b>@item.startSalary</b></td>
                                                    <td><i>Ending:</i> <b>@item.endSalary</b></td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td colspan="3"><i>Reason/s for leaving</i> <br> <b>@item.reasonLeaving</b></td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr style="background-color:lightblue"><td align="center"><b>NO RECORD FOUND</b></td></tr>
                            }

                        }


                    </table>

                    <!-- training attend -->
                    <table class="training-attend">
                        <tr>
                            <td class="section-title" colspan="8">
                                <div>TRAINING ATTENDED</div>
                            </td>
                        </tr>

                        @{
                            if (Model.appTraining != null)
                            {
                                <tr>
                                    <th class="header-title" colspan="2">Title of Seminar/Conference/Workshop/Short Course/s or <br> Specialized Training Taken</th>
                                    <th class="header-title">Date (s)</th>
                                    <th class="header-title">Venue</th>
                                    <th class="header-title" colspan="2">Conducted / Sponsored by</th>
                                </tr>
                                foreach (var item in Model.appTraining)
                                {
                                    <tr>
                                        <td colspan="2">@item.title</td>
                                        <td>@item.dateFrom - @item.dateTo</td>
                                        <td>@item.venue</td>
                                        <td colspan="2">@item.conductedBy</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr style="background-color:lightblue"><td align="center"><b>NO RECORD FOUND</b></td></tr>
                            }

                        }


                    </table>

                    <!-- membership in ass"in -->
                    <table class="membership-org">

                        <tr>
                            <td class="section-title" colspan="8">
                                <div>MEMBERSHIP IN ASS’N/ ORGANIZATIONS</div>
                            </td>
                        </tr>
                        @{
                            if (Model.appMembership != null)
                            {
                                <tr>
                                    <th class="header-title" colspan="3">Name of Association / Organization</th>
                                    <th class="header-title">Inclusive dates (From/To)</th>
                                    <th class="header-title" colspan="2">Position/ Involvement</th>
                                </tr>
                                foreach (var item in Model.appMembership)
                                {
                                    <tr>
                                        <td colspan="3"><b>@item.organizationName</b></td>
                                        <td><b>@item.dateFrom - @item.dateTo</b></td>
                                        <td colspan="2"><b>@item.position</b></td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr style="background-color:lightblue"><td align="center"><b>NO RECORD FOUND</b></td></tr>
                            }

                        }


                    </table>

                    <!-- award and certification -->
                    <table class="awards-cert">
                        <tr>
                            <td class="section-title" colspan="8">
                                <div>AWARDS, LICENSES & CERTIFICATIONS</div>
                            </td>
                        </tr>
                        @{
                            if (Model.appAwards != null)
                            {
                                <tr>
                                    <th class="header-title" colspan="3">Professional Award/s/ Recognition/ License/s/ Certification/s received or <br> Government exam/s passed/taken (if any)</th>
                                    <th class="header-title">Date Received / Valid Until</th>
                                    <th class="header-title" colspan="2">License Number <br> <small>(if applicable)</small></th>
                                </tr>
                                foreach (var item in Model.appAwards)
                                {
                                    <tr>
                                        <td colspan="3"><b>@item.awardName</b></td>
                                        <td><b>@item.dateReceived.ToString("MMM dd, yyyy")</b></td>
                                        <td colspan="2"><b>@item.licenseNumber</b></td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr style="background-color:lightblue"><td align="center"><b>NO RECORD FOUND</b></td></tr>
                            }

                        }


                    </table>

                    <!-- other information -->
                    <table class="other-info">
                        <tr>
                            <td class="section-title" colspan="8">
                                <div>OTHER INFORMATION</div>
                            </td>
                        </tr>
                        @{
                            if (Model.appOtherInformation != null)
                            {
                                <tr>
                                    <th class="header-title" colspan="3">Spoken Languages <small>(in order of proficiency)</small></th>
                                    <th class="header-title" colspan="3">Written Languages <small>(in order of proficiency)</small></th>
                                </tr>
                                <tr>
                                    <td>1: <b>@Model.appOtherInformation.slanguage1</b></td>
                                    <td>2: <b>@Model.appOtherInformation.slanguage2</b></td>
                                    <td>3: <b>@Model.appOtherInformation.slanguage3</b></td>
                                    <td>1: <b>@Model.appOtherInformation.wlanguage1</b></td>
                                    <td>2: <b>@Model.appOtherInformation.wlanguage2</b></td>
                                    <td>3: <b>@Model.appOtherInformation.wlanguage3</b></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Office Machines/equipment you can operate <br> <b>@Model.appOtherInformation.officeMachine</b></td>
                                    <td colspan="2">Special hobbies/ talents/ skills/ interests <br> <b>@Model.appOtherInformation.hobbies</b></td>
                                    <td colspan="2">Motor vehicles you can drive <br> <b>@Model.appOtherInformation.vehicles</b></td>
                                </tr>
                            }
                            else
                            {
                                <tr style="background-color:lightblue"><td align="center"><b>NO RECORD FOUND</b></td></tr>
                            }
                        }


                    </table>

                    <!-- decleration -->
                    <table class="decleration">
                        <tr>
                            <td class="section-title" colspan="8">
                                <div>DECLARATION</div>
                            </td>
                        </tr>

                        @{


                        }
                        @{
                            if (Model.appDeclaration != null)
                            {
                                string rel = "NO";
                                if (@Model.appDeclaration.kmbiRelative == true)
                                {
                                    rel = "YES";
                                }
                                string cCase = "NO";
                                if (@Model.appDeclaration.cCase == true)
                                {
                                    cCase = "YES";
                                }
                                string dis = "NO";
                                if (@Model.appDeclaration.discharged == true)
                                {
                                    dis = "YES";
                                }
                                string ill = "NO";
                                if (@Model.appDeclaration.illness == true)
                                {
                                    ill = "YES";
                                }
                                <tr>
                                    <td colspan="1">Do you have any relative(s) (by blood or by law) presently employed at <br> KMBI? If yes, state name & position.</td>
                                    <td>@rel</td>
                                    <td colspan="3">Name & Position <br> <b>@Model.appDeclaration.kmbiRelativePosition</b></td>
                                </tr>
                                <tr>
                                    <td colspan="1">Was/ Is there any civil/administrative/ criminal case you were involved <br> in/ pending against you?</td>
                                    <td>@cCase</td>
                                    <td colspan="3">If Yes? <br> <b>@Model.appDeclaration.cCaseDetail</b></td>
                                </tr>
                                <tr>
                                    <td colspan="1">Were you ever discharged / requested to resign from any position in <br> your past employment, or membership form any organization?</td>
                                    <td>@dis</td>
                                    <td colspan="3">If Yes? <br> <b>@Model.appDeclaration.dischargedDetails</b></td>
                                </tr>
                                <tr>
                                    <td colspan="1">Have you suffered from any serious illnesses, hospitalizations, or <br> accidents in the past five (5) years?</td>
                                    <td>@ill</td>
                                    <td colspan="3">If Yes? <br> <b>@Model.appDeclaration.illnessDetails</b></td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        Person(s) to be notified in case of emergency <br> <small>(include contact nos. & address & your personal relationship)</small> <br>
                                        <b>@Model.appDeclaration.incaseEmergency - @Model.appDeclaration.incaseContact - @Model.appDeclaration.incaseRelationship</b>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr style="background-color:lightblue"><td align="center"><b>NO RECORD FOUND</b></td></tr>
                            }
                        }

                    </table>

                    <!-- preferences -->
                    <table class="other-info">
                        <tr>
                            <td class="section-title" colspan="8">
                                <div>REFERENCES</div>
                            </td>
                        </tr>
                        @{
                            if (Model.appReferences != null)
                            {
                                <tr>
                                    <th class="header-title" colspan="2">Name</th>
                                    <th class="header-title" colspan="2">Occupation & Company Address</th>
                                    <th class="header-title" colspan="2">Contact Nos.</th>
                                </tr>

                                <tr>
                                    <td colspan="2"><b>@Model.appReferences.ref1Name</b></td>
                                    <td colspan="2"><b>@Model.appReferences.ref1Occupation</b></td>
                                    <td colspan="2"><b>@Model.appReferences.ref1Contact</b></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><b>@Model.appReferences.ref2Name</b></td>
                                    <td colspan="2"><b>@Model.appReferences.ref2Occupation</b></td>
                                    <td colspan="2"><b>@Model.appReferences.ref2Contact</b></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><b>@Model.appReferences.ref3Name</b></td>
                                    <td colspan="2"><b>@Model.appReferences.ref3Occupation</b></td>
                                    <td colspan="2"><b>@Model.appReferences.ref3Contact</b></td>
                                </tr>
                            }
                            else
                            {
                                <tr style="background-color:lightblue"><td align="center"><b>NO RECORD FOUND</b></td></tr>
                            }
                        }

                    </table>

                    <!-- resedence -->
                    <!--<table class="residence">
                  <tr>
                  <td rowspan="2" class="section-title">
                    <div>RESIDENCE SKETCH</div>
                  </td>
                    <td class="header-title" colspan="7">How do we get to your residence? Provide landmarks. (You may use separate sheet, if necessary)</td>
                  </tr>
                  <tr>
                    <td colspan="7"></td>
                  </tr>
                </table>-->
                    <!-- consent -->
                    <!--<table class="consent">
                  <tr>
                    <td colspan="7">
                      <p>
                        I hereby certify that I am of legal age to work and that the foregoing answers are true and correct to the best of my knowledge and belief.
                        I shall notify Kabalikat para sa Maunlad na Buhay, Inc. of any changes affecting any of the information contained herein.
                        I authorize the company to obtain or verify such information as it may require concerning the application, and I undertake to render any assistance necessary.
                      </p>
                      <p>
                        If hired, <strong>I agree to work in any location as may be assigned by Kabalikat para sa Maunlad na Buhay, Inc.
                        (A Microfinance NGO).</strong> I also understand that any false statement in the course of the interview or any non-disclosure,
                        false statement, omission or misrepresentation on this application is sufficient cause for refusal to hire or dismissal if I have been employed.
                      </p>
                      <p>
                        The Kabalikat para sa Maunlad na Buhay, Inc. (KMBI), a microfinance NGO, recognizes its responsibilities under the Republic Act No. 10173 (Act), also known as the Data
                        Privacy Act of 2012, with respect to the data we collect, record, organize, update, use, consolidate or destruct from the applicants. The personal data obtained from the applicant
                        is entered and stored within the Organization’s database and will only be accessed by KMBI authorized personnel.
                      </p>
                      <p>
                        Furthermore, the information collected and stored from the applicants shall only be used for the purpose of processing their employment application at KMBI.
                      </p>
                      <p>
                        KMBI shall not disclose the applicants’ personal information without their consent and shall retain this information over a period of 6 months.
                      </p>
                      <p>
                        <div style="text-align: center; font-weight: 900;">CONSENT</div>
                        By submitting this job application, I am giving my consent to the collecting, processing, storing and retaining of my personal and sensitive information in accordance with KMBI’s
                        Privacy Policy.
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      _________________________ <br>
                      Signature of applicant
                    </td>
                    <td style="text-align: left;">
                      _________________________ <br>
                      Date
                    </td>
                  </tr>
                </table>-->
                    <!-- remarks -->
                    <!--<table>
                  <tr>
                    <td style="width: 20%;text-align: center;">REMARKS <br> <small><i>(HR use only)</i></small></td>
                    <td><b>@Model.appPersonalData.bloodType</b></td>
                  </tr>
                </table>-->
                </td>
            </tr>
        </table>
        <div class="footer">
            ljgd0719/HCDS-002
        </div>

    </div>
</body>
</html>