﻿@using Recruitment.Models.IRepo;
@model List<applicationViewModel>;
@inject iUserManager UserManager;
@{
    bool isAdmin = false;
    isAdmin = UserManager.GetCurrentUser(this.Context).isAdmin;
}

@{
    if (isAdmin)
    {
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">RESULT/S for "@ViewData["searchString"]"</h5>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-shopping">
                                    @{
                                        if (Model.Count > 0)
                                        {
                                            <thead class="">
                                                <tr>
                                                    <th class="text-center"></th>
                                                    <th>
                                                        NAME
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    int ctr = 1;
                                                    foreach (var item in Model)
                                                    {
                                                        var hobbies = item.appOtherInformation.hobbies;
                                                        var keyword = @ViewData["searchString"].ToString();
                                                        <tr>
                                                            <td>
                                                                <div class="img-container">
                                                                    <img src="@item.appPersonalData.picture">
                                                                </div>
                                                            </td>
                                                            <td class="td-name">
                                                                @item.systemUsers.lastName, @item.systemUsers.firstName @item.systemUsers.middleName
                                                                <br />
                                                                <div style="padding-bottom:20px">
                                                                    <a asp-action="PersonalData" asp-controller="JobApplications" asp-route-applicantId="@item.systemUsers.id" target="_blank">
                                                                        <i class="fa fa-user-circle"></i><small>Personal Information</small>
                                                                    </a><a href="@item.appPersonalData.resume" target="_blank"><i class="fa fa-address-card-o"></i><small> Resume</small></a>
                                                                </div>

                                                                <small>
                                                                    <b>@Html.Raw(item.appOtherInformation.hobbies.Replace(ViewData["searchString"].ToString().ToUpper(), "<span style=background-color:yellow; color:red; font-weight: bold>" + ViewData["searchString"].ToString().ToUpper() + "</span>"))</b>
                                                                </small>
                                                            </td>
                                                        </tr>

                                                        ctr += 1;
                                                    }
                                                }
                                            </tbody>
                                        }
                                        else
                                        {
                                            <thead class="">
                                                <tr>
                                                    <th class="text-center"></th>
                                                    <th>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <b>NO RECORD FOUND</b>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        }
                                    }

                                </table>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>

    }
    else
    {
    <div class="container-fluid">
        <h1>UNAUTHORIZED ACCESS</h1>
    </div>
    }
    }
