﻿

@{
    Layout = null;
    string email = @Context.Request.Query["email"];
    string token = @Context.Request.Query["token"];
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img//apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img//favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        KMBI Recruitment System
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/paper-dashboard.css?v=2.1.1" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../assets/demo/demo.css" rel="stylesheet" />
    <link href="~/css/spinner.css" rel="stylesheet" />
    <link href="~/assets/css/jquery-ui.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
</head>
<body>
    <div class="loading">
        Loading&#8230;
    </div>
    <div class="wrapper">


        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-minimize">
                            @*<button id="minimizeSidebar" class="btn btn-icon btn-round">
                                <i class="nc-icon nc-minimal-right text-center visible-on-sidebar-mini"></i>
                                <i class="nc-icon nc-minimal-left text-center visible-on-sidebar-regular"></i>
                            </button>*@
                        </div>
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="javascript:;">
                            <img width="30" height="30" src="~/assets/img/kmbi1.png" />
                            KMBI Recruitment System
                        </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                </div>
            </nav>

            <div class="content">
                <div class="container-fluid">

                    <div class="modal fade" id="resetPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h6 class="modal-title" id="exampleModalLabel">Reset Password</h6>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="row">
                                            <label class="col-sm-4 col-form-label">New Password</label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input type="password" name="cNewPassword" id="cNewPassword" class="form-control" data-toggle="password">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">
                                                            <button class="btn-link btn-icon btn-sm" id="reveal" type="button"><i id="pClass" class="fa fa-eye"></i></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <label class="col-sm-4 col-form-label">Confirm New Password</label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input type="password" id="cConfirmPassword" class="form-control">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">
                                                            <button class="btn-link btn-icon btn-sm" id="cReveal" type="button"><i id="pClass" class="fa fa-eye"></i></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <div class="left-side">
                                        <button type="button" class="btn btn-default btn-link" onclick="window.close();">Cancel</button>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="right-side">
                                        <button id="saveNewPassword" class="btn btn-danger btn-link">Save changes</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <footer class="footer footer-black  footer-white ">
                <div class="container-fluid">
                    <div class="row">
                        @*<nav class="footer-nav">
                                <ul>
                                    <li><a href="https://www.creative-tim.com" target="_blank">Creative Tim</a></li>
                                    <li><a href="https://www.creative-tim.com/blog" target="_blank">Blog</a></li>
                                    <li><a href="https://www.creative-tim.com/license" target="_blank">Licenses</a></li>
                                </ul>
                            </nav>*@
                        <div class="credits ml-auto">
                            <span class="copyright">
                                ©
                                <script>
                                    document.write(new Date().getFullYear())
                                </script>, KMBI-HCD
                            </span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>



    <!--   Core JS Files   -->
    <script src="../../assets/js/jquery-3.1.1.min.js"></script>
    @*<script src="../../assets/js/core/jquery.min.js"></script>*@
    <script src="../../assets/js/core/popper.min.js"></script>
    <script src="../../assets/js/core/bootstrap.min.js"></script>
    <script src="../../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="../../assets/js/plugins/moment.min.js"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="../../assets/js/plugins/bootstrap-switch.js"></script>
    <!--  Plugin for Sweet Alert -->
    @*<script src="../../assets/js/plugins/sweetalert2.min.js"></script>*@
    <!-- Forms Validations Plugin -->
    <script src="../../assets/js/plugins/jquery.validate.min.js"></script>
    <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="../../assets/js/plugins/jquery.bootstrap-wizard.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="../../assets/js/plugins/bootstrap-selectpicker.js"></script>
    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="../../assets/js/plugins/bootstrap-datetimepicker.js"></script>
    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
    @*<script src="../../assets/js/jquery.validate.min.js"></script>
        <script src="../../assets/js/jquery.validate.unobtrusive.min.js"></script>*@
    <script src="../../assets/js/plugins/jquery.dataTables.min.js"></script>
    @*<script src="../../assets/js/jquery-ui-1.12.1.min.js"></script>*@

    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="../../assets/js/plugins/bootstrap-tagsinput.js"></script>
    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="../../assets/js/plugins/jasny-bootstrap.min.js"></script>
    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src="../../assets/js/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script src="../../assets/js/plugins/fullcalendar/daygrid.min.js"></script>
    <script src="../../assets/js/plugins/fullcalendar/timegrid.min.js"></script>
    <script src="../../assets/js/plugins/fullcalendar/interaction.min.js"></script>
    <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
    <script src="../../assets/js/plugins/jquery-jvectormap.js"></script>
    <!--  Plugin for the Bootstrap Table -->
    <script src="../../assets/js/plugins/nouislider.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxfVioNAN0DeYTAemWs7tyS65t_Y6lXmY"></script>
    <!-- Chart JS -->
    <script src="../../assets/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="../../assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../../assets/js/paper-dashboard.min.js?v=2.1.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
    <script src="../../assets/demo/demo.js"></script>
    <script>
        $(document).ready(function () {
            demo.checkFullPageBackgroundImage();
        });
    </script>

    <script>
        $(document).ready(function () {
            // Initialise the wizard
            demo.initWizard();
            setTimeout(function () {
                $('.card.card-wizard').addClass('active');
            }, 600);
        });</script>

    <script>
        function displayBusyIndicator() {
            $('.loading').show();
        }
        $(window).on('beforeunload', function () {
            displayBusyIndicator();
        });
        $(document).on('submit', 'form', function () {
            displayBusyIndicator();
        });

    </script>

    <script>
        $(document).ready(function () {
            //$("#resetPassword").modal('show');
            $(window).on('load', function () {
                $('#resetPassword').modal('show');
            });
            $("#resetPassword").modal({
                backdrop: 'static',
                keyboard: false
            });
        });

        //CHANGE PASSWORD
$("#reveal").on('click', function () {
    $(this).find('.fa').toggleClass('fa-eye-slash fa-eye');
    var $pwd = $("#cNewPassword");
    if ($pwd.attr('type') === 'password') {
        $pwd.attr('type', 'text');
    } else {
        $pwd.attr('type', 'password');
    }
});
$("#cReveal").on('click', function () {
    $(this).find('.fa').toggleClass('fa-eye-slash fa-eye');
    var $pwd = $("#cConfirmPassword");
    if ($pwd.attr('type') === 'password') {
        $pwd.attr('type', 'text');
    } else {
        $pwd.attr('type', 'password');
    }
});

$('#saveNewPassword').click(function () {
    if ($("#cNewPassword").val().trim() == "") {
        swal("Error", "New Password is required", "error");
    }
    else if ($("#cConfirmPassword").val().trim() == "" || $("#cConfirmPassword").val().trim() != $("#cNewPassword").val().trim()) {
        swal("Error", "Please confirm your new password", "error");
    }
    else {
        console.log($("#cNewPassword").val());

        swal({
            title: "Are you sure you want to reset your password?",
            text: "Confirmation",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            closeOnConfirm: false
        }, function () {
            swal({
                title: 'Please Wait..!',
                text: 'Saving Record',
                allowOutsideClick: false,
                allowEscapeKey: false,
                allowEnterKey: false,
                showCancelButton: false,
                showConfirmButton: false,
                onOpen: () => {
                    swal.showLoading()
                }
            })
            $.ajax({
                type: "POST",
                url: '@Url.Action("ResetNewPassword", "Account")',
                data: {
                    password: $("#cNewPassword").val(),
                    email: "@email"
                },
                success: function (data) {
                    swal({
                        title: "Data successfully saved. ",
                        text: "You can now login using your new Password",
                        type: "success",
                        showCancelButton: false,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "OK",
                        closeOnConfirm: true
                    }, function () {
                        location.href= '@Url.Action("Index","Home")'
                    });
                }
            })
        });
    }
});
    </script>

</body>


</html>
