﻿@using Recruitment.Models.IRepo;
@inject iUserManager UserManager;
@{
    bool isAdmin = false;
    var department = UserManager.GetCurrentUser(this.Context).department;
    isAdmin = UserManager.GetCurrentUser(this.Context).isAdmin;
}
@{
    if (department.Contains("HUMAN CAPITAL"))
    {
        <style>
            .span-texatarea {
                overflow: auto;
                /*height: 8rem;*/
                resize: vertical;
                vertical-align: top !important;
                text-transform: none;
                color: inherit;
                font: inherit;
                border: none;
                outline: 0;
                margin: 0;
                -webkit-appearance: textarea;
                appearance: textarea;
                flex-direction: column !important;
                white-space: pre-wrap !important;
                word-wrap: break-word;
                display: inline-block;
                text-align: start;
                -webkit-writing-mode: horizontal-tb;
            }

            textarea {
                width: 500px;
                height: 150px;
            }
        </style>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">JOB POSTING</h5>

                        </div>
                        <div class="card-body">
                            <div class="toolbar">
                                <a class="btn btn-facebook" data-toggle="modal" data-target="#jobModal" data-backdrop="static" data-keyboard="false">
                                    <i class="nc-icon nc-simple-add"></i>
                                    Add New Record
                                </a>
                            </div>
                            <table id="dtJobVacancies" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Position</th>
                                        <th hidden>Job Summary</th>
                                        <th hidden>Qualifications</th>
                                        <th></th>
                                        <th></th>
                                        <th>Branch</th>
                                        <th>Active</th>
                                        <th class="disabled-sorting text-center">Edit</th>
                                        <th class="disabled-sorting text-center">Delete</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Position</th>
                                        <th hidden>Job Summary</th>
                                        <th hidden>Qualifications</th>
                                        <th></th>
                                        <th></th>
                                        <th>Branch</th>
                                        <th>Active</th>
                                        <th class="disabled-sorting text-center">Edit</th>
                                        <th class="disabled-sorting text-center">Delete</th>
                                    </tr>
                                </tfoot>

                            </table>
                        </div><!-- end content-->
                    </div><!--  end card  -->
                </div> <!-- end col-md-12 -->
            </div> <!-- end row -->
        </div>

        <!--MODALS-->
        

        <!--ADD JOB-->
        <div class="modal fade" id="jobModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog  modal-lg  modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h6 class="modal-title" id="exampleModalLabel">Add New Record</h6>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <label class="col-sm-4 col-form-label">Position *</label>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <input type="text" id="jobPosition" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-4 col-form-label">Job Summary *</label>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <textarea class="form-control" id="jobSummary" style="height:150px"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-4 col-form-label">Qualifications *</label>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <textarea class="form-control" id="jobQualifications" style="height:250px"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-4 col-form-label">Department *</label>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <select type="text" id="department" class="form-control">
                                            <option value="AUDIT">AUDIT</option>
                                            <option value="CORPORATE AFFAIRS OFFICE">CORPORATE AFFAIRS OFFICE</option>
                                            <option value="FINANCE AND ACCOUNTING">FINANCE AND ACCOUNTING</option>
                                            <option value="GENERAL SERVICES">GENERAL SERVICES</option>
                                            <option value="HUMAN CAPITAL">HUMAN CAPITAL</option>
                                            <option value="INFORMATION TECHNOLOGY">INFORMATION TECHNOLOGY</option>
                                            <option value="LEGAL SERVICES OFFICE">LEGAL SERVICES OFFICE</option>
                                            <option value="OPERATIONS">OPERATIONS</option>
                                            <option value="PROGRAM AND SERVICES">PROGRAM AND SERVICES</option>
                                            <option value="SOCIAL DEVELOPMENT">SOCIAL DEVELOPMENT</option>
                                            <option value="TRAINING AND ADVANCE EDUCATION">TRAINING AND ADVANCE EDUCATION</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-4 col-form-label">Branch *</label>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        @*<select multiple="multiple" id="branch" data-size="7"></select>*@
                                        <select type="text" id="branch" class="form-control"></select>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-4 col-form-label">Active? </label>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <input class="bootstrap-switch" checked="" type="checkbox" data-toggle="switch" data-on-label="<i class='nc-icon nc-check-2'></i>" data-off-label="<i class='nc-icon nc-simple-remove'></i>"
                                               data-on-color="success" data-off-color="success" id="jobActive" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                            </div>
                            <div class="row">

                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <div class="left-side">
                            <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Cancel</button>
                        </div>
                        <div class="divider"></div>
                        <div class="right-side">
                            <button id="addnew" class="btn btn-danger btn-link">Save changes</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--EDIT JOB-->
        <div class="modal fade" id="jobEModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog  modal-lg modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h6 class="modal-title" id="exampleModalLabel">Edit Record</h6>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <label class="col-sm-4 col-form-label">Position *</label>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <input type="text" id="id" class="form-control" hidden>
                                        <input type="text" id="slug" class="form-control" hidden>
                                        <input type="text" id="jobEPosition" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-4 col-form-label">Job Summary *</label>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <textarea type="text" class="form-control" id="jobESummary" style="height:150px"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-4 col-form-label">Qualifications *</label>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <textarea type="text" class="form-control" id="jobEQualifications" style="height:250px"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-4 col-form-label">Department *</label>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <select type="text" id="Edepartment" class="form-control">
                                            <option value="AUDIT">AUDIT</option>
                                            <option value="CORPORATE AFFAIRS OFFICE">CORPORATE AFFAIRS OFFICE</option>
                                            <option value="FINANCE AND ACCOUNTING">FINANCE AND ACCOUNTING</option>
                                            <option value="GENERAL SERVICES">GENERAL SERVICES</option>
                                            <option value="HUMAN CAPITAL">HUMAN CAPITAL</option>
                                            <option value="INFORMATION TECHNOLOGY">INFORMATION TECHNOLOGY</option>
                                            <option value="LEGAL SERVICES OFFICE">LEGAL SERVICES OFFICE</option>
                                            <option value="OPERATIONS">OPERATIONS</option>
                                            <option value="PROGRAM AND SERVICES">PROGRAM AND SERVICES</option>
                                            <option value="SOCIAL DEVELOPMENT">SOCIAL DEVELOPMENT</option>
                                            <option value="TRAINING AND ADVANCE EDUCATION">TRAINING AND ADVANCE EDUCATION</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-4 col-form-label">Branch *</label>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        @*<select multiple="multiple" id="Ebranch" data-size="7"></select>*@
                                        <select id="Ebranch" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-4 col-form-label">Active? </label>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <input class="bootstrap-switch" type="checkbox" data-toggle="switch" data-on-label="<i class='nc-icon nc-check-2'></i>" data-off-label="<i class='nc-icon nc-simple-remove'></i>"
                                               data-on-color="success" data-off-color="success" id="jobEActive" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                            </div>
                            <div class="row">

                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <div class="left-side">
                            <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Cancel</button>
                        </div>
                        <div class="divider"></div>
                        <div class="right-side">
                            <button id="edit" class="btn btn-danger btn-link">Save changes</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <script>
            $(document).ready(function () {

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("PopulateControl", "Branch")",
                    data: {},
                    success: function (data) {
                        $.each(data, function (i, zone) {
                            $("#branch").append('<option value="' + zone.slug + '">' + zone.name + '</option>');
                            $("#Ebranch").append('<option value="' + zone.slug + '">' + zone.name + '</option>');
                        });
                        //$("#branch").attr('multiple', 'multiple');
                        //$("#branch").multiselect('rebuild');

                        //$("#Ebranch").attr('multiple', 'multiple');
                        //$("#Ebranch").multiselect('rebuild');
                    }
                });

                //$('#branch').multiselect({
                //    onChange: function (option, checked) {
                //        var channels = $('#branch').val();
                //        //console.log(channels);
                //    },
                //    maxHeight: 450,
                //    includeSelectAllOption: true,
                //    buttonWidth: '100%',
                //    enableFiltering: true,
                //    enableCaseInsensitiveFiltering: true,
                //    numberDisplayed: 5,
                //});

                //$('#Ebranch').multiselect({
                //    onChange: function (option, checked) {
                //        var channels = $('#Ebranch').val();
                //        console.log(channels);
                //    },
                //    maxHeight: 450,
                //    includeSelectAllOption: true,
                //    buttonWidth: '100%',
                //    enableFiltering: true,
                //    enableCaseInsensitiveFiltering: true,
                //    numberDisplayed: 5,
                //});


                var jobActive = true;
                var jobEActive = false;
                $('#jobActive').on('switchChange.bootstrapSwitch', function (event, state) {
                    jobActive = state;
                });

                $('#jobEActive').on('switchChange.bootstrapSwitch', function (event, state) {
                    jobEActive = state;
                });

                var oTable = $('#dtJobVacancies').DataTable({
                    "ajax": {
                        "url": '@Url.Action("GetAllViewModel", "JobVacancies")',
                        "type": "Get",
                        "datatype": "json",
                        "data": {
                        }
                    },
                    "pagingType": "full_numbers",
                    "lengthMenu": [
                        [10, 25, 50, -1],
                        [10, 25, 50, "All"]
                    ],
                    language: {
                        search: "_INPUT_",
                        searchPlaceholder: "Search records",
                    },
                    "rowId": "id",
                    "columns": [
                        { "data": "jobPosition", "autoWidth": true },
                        {
                            "data": "jobSummary", "autoWidth": true, visible: false, render: function (data, type, row) {
                                return '<div><span class="span-texatarea">' + row.jobSummary + '</span></div>'
                            }
                        },
                        {
                            "data": "jobQualifications", "autoWidth": true, visible: false, render: function (data, type, row) {
                                return '<div><span class="span-texatarea">' + row.jobQualifications + '</span></div>'
                            }
                        },
                        { "data": "branchSlugs", "visible": false },
                        { "data": "department", "visible": false },
                        {
                            "data": "branches", "autoWidth": true, render: function (data, type, row) {
                                return '<div><span class="span-texatarea">' + row.branches.split(',').join('\n'); + '</span></div>'
                            }
                        },
                        {
                            "data": "jobActive", "autoWidth": true, render: function (data, type, row) {
                                if (row.jobActive === true) {
                                    return '<input class="bootstrap-switch" type="checkbox" checked disabled />';
                                }
                                else {
                                    return '<input class="bootstrap-switch" type="checkbox" disabled>';
                                }
                            }
                        },
                        {
                            "data": "id", "render": function (data) {
                                return '<div class="text-center"><a href="#" id="editJob" data-toggle="tooltip" data-placement="top" title="Edit Record" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral"><i class="fa fa-edit"></i></a></div>'
                            }
                        },
                        {
                            "data": "id", "width": "50px", "render": function (data) {
                                return '<div class="text-center"><a href="#" id="deleteJob" data-toggle="tooltip" data-placement="top" title="Delete Record"  class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral"><i class="fa fa-trash"></i></a></div>'
                            }
                        }
                    ]
                })

                $('#addnew').click(function () {
                    if ($("#jobPosition").val().trim() == "") {
                        swal("Error", "Position is required", "error");
                    }
                    else if ($("#jobSummary").val().trim() == "") {
                        swal("Error", "Job Summary is required", "error");
                    }
                    else if ($("#jobQualifications").val().trim() == "") {
                        swal("Error", "Job Qualification is required", "error");
                    }
                    else if ($("#department").val() == "") {
                        swal("Error", "Please select branch/es", "error");
                    }
                    else if ($("#branch").val() == "") {
                        swal("Error", "Please select branch/es", "error");
                    }
                    else {
                        formData = new FormData();
                        formData.append("jobPosition", $("#jobPosition").val());
                        formData.append("jobSummary", $("#jobSummary").val());
                        formData.append("jobQualifications", $("#jobQualifications").val());
                        formData.append("branches", $("#branch").val());
                        formData.append("department", $("#department").val());
                        formData.append("jobActive", jobActive);
                        swal({
                            title: "Save Changes?",
                            text: "Confirmation",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Yes",
                            cancelButtonText: "No",
                            closeOnConfirm: false
                        }, function () {
                                swal({
                                    title: 'Please Wait..!',
                                    text: 'Saving Record',
                                    allowOutsideClick: false,
                                    allowEscapeKey: false,
                                    allowEnterKey: false,
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                    onOpen: () => {
                                        swal.showLoading()
                                    }
                                })
                                $.ajax({
                                    type: "POST",
                                    url: "@Url.Action("Add", "JobVacancies")",
                                    data: formData,
                                    processData: false,
                                    contentType: false,
                                    success: function (data) {
                                        oTable.ajax.reload();
                                        $("#jobPosition").val("");
                                        $("#jobSummary").val("");
                                        $("#jobQualifications").val("");
                                        $("#jobActive").bootstrapSwitch('state', true);
                                        swal({
                                            title: "Saved!",
                                            text: "Data successfully Saved! Do you want to add another?",
                                            type: "success",
                                            showCancelButton: true,
                                            confirmButtonColor: "#DD6B55",
                                            confirmButtonText: "Yes",
                                            cancelButtonText: "No",
                                            closeOnConfirm: true
                                        }, function (isConfirm) {
                                                if (isConfirm) {
                                                    setTimeout(function () {
                                                        $('#jobPosition').focus();
                                                    }, 0);
                                                } else {
                                                    $("#jobModal").modal('hide');
                                                }
                                        });
                                    }
                                })
                        });
                    }

                });


                var tbl = $('#dtJobVacancies').DataTable();
                var createdAt;
                $('#dtJobVacancies tbody').on('click', '#editJob', function () {
                    $tr = $(this).closest('tr');
                    var data = tbl.row($tr).data();
                    //console.log(data);
                    console.log(data.department);
                    selectedRow = data.id;
                    createdAt = data.createdAt;

                    $('#id').val(data.id);
                    $('#slug').val(data.slug);
                    $('#jobEPosition').val(data.jobPosition);
                    $("#jobESummary").val(data.jobSummary);
                    $("#jobEQualifications").val(data.jobQualifications);

                    $("#jobEActive").bootstrapSwitch('state', data.jobActive);
                    jobEActive = data.jobActive;

                    var string = "";

                    if (data.branchSlugs != null) {
                        string = data.branchSlugs;
                        var array = string.split(',');
                        $("#Ebranch").val(array);
                    }
                    else {
                        $("#Ebranch").val("");
                    }
                   // $("#Ebranch").val(data.branches);

                    $("#Edepartment").val(data.department);

                    //$("#Ebranch").attr('multiple', 'multiple');
                    //$("#Ebranch").multiselect('rebuild');


                    $('#jobEModal').modal('show');
                });

                $('#edit').click(function () {
                    if ($("#jobEPosition").val().trim() == "") {
                        swal("Error", "Position is required", "error");
                    }
                    else if ($("#jobESummary").val().trim() == "") {
                        swal("Error", "Job Summary is required", "error");
                    }
                    else if ($("#jobEQualifications").val().trim() == "") {
                        swal("Error", "Job Qualification is required", "error");
                    }
                    else if ($("#Edepartment").val() == "") {
                        swal("Error", "Please select branch/es", "error");
                    }
                    else if ($("#Ebranch").val() == "") {
                        swal("Error", "Please select branch/es", "error");
                    }
                    else {
                        console.log($("#jobEPosition").val());
                        var formData = new FormData();
                        formData = new FormData();
                        formData.append("id", $("#id").val());
                        formData.append("slug", $("#slug").val());
                        formData.append("jobPosition", $("#jobEPosition").val());
                        formData.append("jobSummary", $("#jobESummary").val());
                        formData.append("jobQualifications", $("#jobEQualifications").val());
                        formData.append("branches", $("#Ebranch").val());
                        formData.append("department", $("#Edepartment").val());
                        formData.append("jobActive", jobEActive);
                        formData.append("createdAt", createdAt);

                        swal({
                            title: "Save Changes?",
                            text: "Confirmation",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Yes",
                            cancelButtonText: "No",
                            closeOnConfirm: false
                        }, function () {
                                swal({
                                    title: 'Please Wait..!',
                                    text: 'Saving Record',
                                    allowOutsideClick: false,
                                    allowEscapeKey: false,
                                    allowEnterKey: false,
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                    onOpen: () => {
                                        swal.showLoading()
                                    }
                                })
                                $.ajax({
                                    type: "POST",
                                    url: "@Url.Action("Update", "JobVacancies")",
                                    data: formData,
                                    processData: false,
                                    contentType: false,
                                    success: function (data) {
                                        oTable.ajax.reload();
                                        swal("Saved!", "Data successfully Saved!", "success");
                                        $("#jobEModal").modal('hide');
                                    }
                                })
                        });
                        }

                });



                $('#dtJobVacancies tbody').on('click', '#deleteJob', function () {
                    $tr = $(this).closest('tr');
                    var data = tbl.row($tr).data();
                    selectedRow = data.id;
                    swal({
                        title: "Are you sure?",
                        text: "Your will not be able to recover this record!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonClass: "btn-danger",
                        confirmButtonText: "Yes, delete it!",
                        closeOnConfirm: false
                    },

                        function () {
                            $.ajax({
                                type: "DELETE",
                                url: "@Url.Action("Delete", "JobVacancies")",
                                data: {
                                    id: selectedRow
                                },
                                success: function (data) {
                                    swal("Deleted!", "Data successfully Deleted!", "success");
                                    oTable.ajax.reload();
                                }
                            })
                        });
                });


            });
        </script>
    }
    else
    {
        <div class="container-fluid">
            <h1>UNAUTHORIZED ACCESS</h1>
        </div>
    }
}
