﻿@using Recruitment.Models.IRepo;
@inject iUserManager UserManager;
@{
    bool isAdmin = false;
    isAdmin = UserManager.GetCurrentUser(this.Context).isAdmin;
}
@{
    if (isAdmin)
    {
        <style>
            .span-texatarea {
                overflow: auto;
                /*height: 8rem;*/
                resize: vertical;
                vertical-align: top !important;
                text-transform: none;
                color: inherit;
                font: inherit;
                border: none;
                outline: 0;
                margin: 0;
                -webkit-appearance: textarea;
                appearance: textarea;
                flex-direction: column !important;
                white-space: pre-wrap !important;
                word-wrap: break-word;
                display: inline-block;
                text-align: start;
                -webkit-writing-mode: horizontal-tb;
            }

            textarea {
                width: 500px;
                height: 150px;
            }
        </style>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">SYSTEM USERS</h5>

                        </div>
                        <div class="card-body">
                            <div class="toolbar">
                                <a class="btn btn-facebook" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">
                                    <i class="nc-icon nc-simple-add"></i>
                                    Add New Record
                                </a>
                            </div>
                            <table id="dtAminUsers" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Skills</th>
                                        <th>Active</th>
                                        <th class="disabled-sorting text-center">Edit</th>
                                        <th class="disabled-sorting text-center">Delete</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Skills</th>
                                        <th>Active</th>
                                        <th class="disabled-sorting text-center">Edit</th>
                                        <th class="disabled-sorting text-center">Delete</th>
                                    </tr>
                                </tfoot>

                            </table>
                        </div><!-- end content-->
                    </div><!--  end card  -->
                </div> <!-- end col-md-12 -->
            </div> <!-- end row -->
        </div>

        <!--MODALS-->
        <!--ADD JOB-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog  modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h6 class="modal-title" id="exampleModalLabel">Add New Record</h6>
                    </div>
                    <div class="modal-body">
                        <form>
                            <input type="text" id="id" class="form-control" hidden>
                            <div class="row">
                                <label class="col-sm-4 col-form-label">Skill / Hobby / Talent / Interest *</label>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <input type="text" id="skill" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-4 col-form-label">Active? </label>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <input class="bootstrap-switch" checked="" type="checkbox" data-toggle="switch" data-on-label="<i class='nc-icon nc-check-2'></i>" data-off-label="<i class='nc-icon nc-simple-remove'></i>"
                                               data-on-color="success" data-off-color="success" id="isActive" />
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <div class="left-side">
                            <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Cancel</button>
                        </div>
                        <div class="divider"></div>
                        <div class="right-side">
                            <button id="addnew" class="btn btn-danger btn-link">Save changes</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--EDIT ADMIN-->
        <div class="modal fade" id="myEModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog  modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h6 class="modal-title" id="exampleModalLabel">Edit Record</h6>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <label class="col-sm-4 col-form-label">Skill / Hobby / Talent / Interest *</label>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <input type="text" id="eSkill" class="form-control">
                                    </div>
                                </div>
                            </div>

                            
                            <div class="row">
                                <label class="col-sm-4 col-form-label">Active? </label>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <input class="bootstrap-switch" checked="" type="checkbox" data-toggle="switch" data-on-label="<i class='nc-icon nc-check-2'></i>" data-off-label="<i class='nc-icon nc-simple-remove'></i>"
                                               data-on-color="success" data-off-color="success" id="isEActive" />
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <div class="left-side">
                            <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Cancel</button>
                        </div>
                        <div class="divider"></div>
                        <div class="right-side">
                            <button id="edit" class="btn btn-danger btn-link">Save changes</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <script>
            $(document).ready(function () {

                var isActive = true;
                var isEActive = false;
                $('#isActive').on('switchChange.bootstrapSwitch', function (event, state) {
                    isActive = state;
                });

                $('#isEActive').on('switchChange.bootstrapSwitch', function (event, state) {
                    isEActive = state;
                });

                var oTable = $('#dtAminUsers').DataTable({
                    "ajax": {
                        "url": '@Url.Action("GetAllSkills","Admin")',
                        "type": "Get",
                        "datatype": "json",
                        "data": {
                        }
                    },
                    "pagingType": "full_numbers",
                    "lengthMenu": [
                        [10, 25, 50, -1],
                        [10, 25, 50, "All"]
                    ],
                    language: {
                        search: "_INPUT_",
                        searchPlaceholder: "Search records",
                    },
                    "rowId": "id",
                    "columns": [
                        { "data": "description", "autoWidth": true },
                        {
                            "data": "status", "autoWidth": true, render: function (data, type, row) {
                                if (row.status === true) {
                                    return '<input class="bootstrap-switch" type="checkbox" checked disabled />';
                                }
                                else {
                                    return '<input class="bootstrap-switch" type="checkbox" disabled>';
                                }
                            }
                        },
                        {
                            "data": "id", "render": function (data) {
                                return '<div class="text-center"><a href="#" id="editJob" data-toggle="tooltip" data-placement="top" title="Edit Record" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral"><i class="fa fa-edit"></i></a></div>'
                            }
                        },
                        {
                            "data": "id", "width": "50px", "render": function (data) {
                                return '<div class="text-center"><a href="#" id="deleteJob" data-toggle="tooltip" data-placement="top" title="Delete Record"  class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral"><i class="fa fa-trash"></i></a></div>'
                            }
                        }
                    ]
                })

                $('#addnew').click(function () {
                    if ($("#skill").val().trim() == "") {
                        swal("Error", "Skill / Hobby / Talent / Interest is required", "error");
                    }
                    else {
                        formData = new FormData();
                        formData.append("id", $("#id").val());
                        formData.append("description", $("#skill").val());
                        formData.append("status", isActive);
                        swal({
                            title: "Save Changes?",
                            text: "Confirmation",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Yes",
                            cancelButtonText: "No",
                            closeOnConfirm: false
                        }, function () {
                                swal({
                                    title: 'Please Wait..!',
                                    text: 'Saving Record',
                                    allowOutsideClick: false,
                                    allowEscapeKey: false,
                                    allowEnterKey: false,
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                    onOpen: () => {
                                        swal.showLoading()
                                    }
                                })
                                $.ajax({
                                    type: "POST",
                                    url: "@Url.Action("AddSkills", "Admin")",
                                    data: formData,
                                    processData: false,
                                    contentType: false,
                                    success: function (data) {
                                        oTable.ajax.reload();
                                        $("#skill").val("");
                                        $("#isActive").bootstrapSwitch('state', true);
                                        swal({
                                            title: "Saved!",
                                            text: "Data successfully Saved! Do you want to add another?",
                                            type: "success",
                                            showCancelButton: true,
                                            confirmButtonColor: "#DD6B55",
                                            confirmButtonText: "Yes",
                                            cancelButtonText: "No",
                                            closeOnConfirm: true
                                        }, function (isConfirm) {
                                                if (isConfirm) {
                                                    setTimeout(function () {
                                                        $('#skill').focus();
                                                    }, 0);
                                                } else {
                                                    $("#myModal").modal('hide');
                                                }
                                        });
                                    }
                                })
                        });
                    }

                });


                var tbl = $('#dtAminUsers').DataTable();
                var createdAt;
                $('#dtAminUsers tbody').on('click', '#editJob', function () {
                    $tr = $(this).closest('tr');
                    var data = tbl.row($tr).data();
                    selectedRow = data.id;
                    createdAt = data.createdAt;

                    $('#id').val(data.id);
                    $('#eSkill').val(data.description);
                    $("#isEActive").bootstrapSwitch('state', data.status);

                    isAdminEActive = data.isAdmin;
                    $('#myEModal').modal('show');
                });

                $('#edit').click(function () {
                    if ($("#eSkill").val().trim() == "") {
                        swal("Error", "Skill / Hobby / Talent / Interest is required", "error");
                    }
                    else {
                        var formData = new FormData();
                        formData = new FormData();
                        formData.append("id", $("#id").val());
                        formData.append("description", $("#eSkill").val());
                        formData.append("status", isEActive);
                        formData.append("createdAt", createdAt);

                        swal({
                            title: "Save Changes?",
                            text: "Confirmation",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Yes",
                            cancelButtonText: "No",
                            closeOnConfirm: false
                        }, function () {
                                swal({
                                    title: 'Please Wait..!',
                                    text: 'Saving Record',
                                    allowOutsideClick: false,
                                    allowEscapeKey: false,
                                    allowEnterKey: false,
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                    onOpen: () => {
                                        swal.showLoading()
                                    }
                                })
                                $.ajax({
                                    type: "POST",
                                    url: "@Url.Action("UpdateSkills", "Admin")",
                                    data: formData,
                                    processData: false,
                                    contentType: false,
                                    success: function (data) {
                                        oTable.ajax.reload();
                                        swal("Saved!", "Data successfully Saved!", "success");
                                        $("#myEModal").modal('hide');
                                    }
                                })
                        });
                        }

                });



                $('#dtAminUsers tbody').on('click', '#deleteJob', function () {
                    $tr = $(this).closest('tr');
                    var data = tbl.row($tr).data();
                    selectedRow = data.id;
                    swal({
                        title: "Are you sure?",
                        text: "Your will not be able to recover this record!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonClass: "btn-danger",
                        confirmButtonText: "Yes, delete it!",
                        closeOnConfirm: false
                    },

                        function () {
                            $.ajax({
                                type: "DELETE",
                                url: "@Url.Action("DeleteSkills", "Admin")",
                                data: {
                                    id: selectedRow
                                },
                                success: function (data) {
                                    swal("Deleted!", "Data successfully Deleted!", "success");
                                    oTable.ajax.reload();
                                }
                            })
                        });
                });

                
            });


        </script>

        <script>
            $(document).ready(function () {
            //populate branch
               
            });
        </script>
    }
    else
    {
        <div class="container-fluid">
            <h1>UNAUTHORIZED ACCESS</h1>
        </div>
    }
}
