﻿@using Recruitment.Models.IRepo;
@using System.IO;
@model List<JobApplicationViewModel>;
@inject iUserManager UserManager;
@{
    bool isAdmin = false;
    var department = UserManager.GetCurrentUser(this.Context).department;
    var branch = UserManager.GetCurrentUser(this.Context).branch;

    var qbranch = @Context.Request.Query["branch"];
    var qdepartment = @Context.Request.Query["department"];

    isAdmin = UserManager.GetCurrentUser(this.Context).isAdmin;
}
@{
    if (isAdmin)
    {
        <style>
            .span-texatarea {
                overflow: auto;
                /*height: 8rem;*/
                resize: vertical;
                vertical-align: top !important;
                text-transform: none;
                color: inherit;
                font: inherit;
                border: none;
                outline: 0;
                margin: 0;
                -webkit-appearance: textarea;
                appearance: textarea;
                flex-direction: column !important;
                white-space: pre-wrap !important;
                word-wrap: break-word;
                display: inline-block;
                text-align: start;
                -webkit-writing-mode: horizontal-tb;
            }

            textarea {
                width: 500px;
                height: 150px;
            }
        </style>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">JOB APPLICATIONS</h5>

                        </div>
                        <div class="card-body">
                            
                            <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th></th>
                                        <th hidden="hidden"></th>
                                        <th hidden="hidden"></th>
                                        <th hidden="hidden"></th>
                                        <th hidden="hidden"></th>
                                        <th hidden="hidden"></th>
                                        <th hidden="hidden"></th>
                                        <th>Name</th>
                                        <th>Job Applied</th>
                                        <th>Branch/es</th>
                                        <th>Status</th>
                                        <th>Remarks</th>
                                        <th>Date Applied</th>
                                        <th>Date Hired</th>
                                        <th hidden="hidden"></th>
                                        <th hidden="hidden"></th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int ctr = 1;
                                        foreach (var item in Model)
                                        {

                                            var background = "";
                                            var disable = "";
                                            var style = "";
                                            if (item.status == "cancelled" || item.status == "failed")
                                            {
                                                background = "color: red; font-weight: bold";
                                                style = "btn btn-danger btn-round btn-sm";
                                            }
                                            else
                                            {
                                                style = "btn btn-info btn-sm";
                                            }

                                            var remarks = "";
                                            if (item.currentStatus == "hired")
                                            {
                                                remarks = "HIRED";
                                            }
                                            else if (item.status == "failed")
                                            {
                                                remarks = "FAILED";
                                            }
                                            else if ((item.currentStatus != "hired" && item.currentStatus != "active"  && item.status != "failed" && item.passed != false))
                                            {

                                                remarks = "ON PROCESS";
                                            }

                                            else
                                            {
                                                remarks = item.remarks;
                                            }


                                            ///DISPLAY BUTTON
                                            if (item.currentStatus != item.status && item.status == "active" && item.passed != false)
                                            {
                                                disable = "display:none";
                                            }


                                    <tr style="@background">
                                        <td>@ctr</td>
                                        <td hidden="hidden">@item.id</td>
                                        <td hidden="hidden">@item.applicantId</td>
                                        <td hidden="hidden">@item.jobSlug</td>
                                        <td hidden="hidden">@item.status</td>
                                        <td hidden="hidden">@item.currentStatus</td>
                                        <td hidden="hidden">@item.passed</td>
                                        <td class="img-row">
                                            <div class="img-wrapper">
                                                <img src="@item.picture" class="img-raised" />
                                            </div>
                                        </td>
                                        <td>@item.lastName, @item.firstName @item.middleName</td>
                                        <td>@item.jobPosition</td>
                                        <td><div><span class="span-texatarea">@item.branches</span></div></td>
                                        @*<td class="text-center"><a id="appStatus" type="button" @disable class="@style" href="#" rel="tooltip" data-original-title="Change Status">@item.status.ToUpper()</a></td>*@
                                        @{
                                            if (department == "HUMAN CAPITAL")
                                            {
                                                if (item.branches.Contains("HEAD OFFICE"))
                                                {
                                                    <td class="text-center"><a class="@style" style="@disable" asp-action="StatusesHo" asp-controller="JobApplications" asp-route-jobId="@item.id" rel="tooltip" data-original-title="Change Status">@item.status.ToUpper()</a></td>
                                                }
                                                else
                                                {
                                                    <td class="text-center"><a class="@style" style="@disable" asp-action="Statuses" asp-controller="JobApplications" asp-route-jobId="@item.id" rel="tooltip" data-original-title="Change Status">@item.status.ToUpper()</a></td>
                                                }
                                            }
                                            else
                                            {
                                                <td class="text-center">@item.status.ToUpper()</td>
                                            }

                                        }

                                        <td>@remarks</td>
                                        <td>@item.dateApplied</td>
                                        <td>@item.dateHired</td>
                                        <td hidden="hidden">@item.currentStatus</td>
                                        <td hidden="hidden">@item.branches</td>
                                        <td class="td-actions text-center">

                                            @*<a href="/JobApplications/DownloadPDF/@item.applicantId" target="_blank" type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="View Details">*@
                                            <a asp-action="PersonalData" asp-controller="JobApplications" asp-route-applicantId="@item.applicantId" target="_blank" type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="View Details">
                                                <i class="nc-icon nc-single-copy-04"></i>
                                            </a>
                                            <a href="@item.resume" target="_blank" type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Download Resume">
                                                <i class="nc-icon nc-paper"></i>
                                            </a>
                                            @{
                                                if (department == "HUMAN CAPITAL")
                                                {
                                                    <a asp-action="UploadedRequirements" asp-controller="JobApplications" asp-route-applicantId="@item.applicantId" asp-route-jobId="@item.id" asp-route-jobSlug="@item.jobSlug" asp-route-branch="@item.branches" target="_blank" type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="View Uploaded Requirements">
                                                        <i class="fa fa-file-text" aria-hidden="true"></i>
                                                    </a>
                                                }
                                            }


                                        </td>
                                    </tr>
                                            ctr += 1;
                                        }
                                    }
                                </tbody>
                                @*<tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Last Name</th>
                                            <th>First Name</th>
                                            <th>Middle Name</th>
                                            <th>Job Applied</th>
                                            <th>Status</th>
                                            <th>Remarks</th>
                                            <th class="disabled-sorting text-center">Edit</th>
                                            <th class="disabled-sorting text-center">Delete</th>
                                        </tr>
                                    </tfoot>*@

                            </table>
                        </div><!-- end content-->
                    </div><!--  end card  -->
                </div> <!-- end col-md-12 -->
            </div> <!-- end row -->
            @*<div id="Grid">
                    @Html.Raw(File.ReadAllText("ReportTemplates/PersonalData.html"));
                </div>*@

        </div>
        <!-- Modal -->
        <div class="modal fade" id="modalStatus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Change Status</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-sm-5">
                                <b>STATUS/ES</b>
                            </div>

                            <div class="col-sm-4 text-center">
                                <b>SCHEDULE FOR INTERVIEW/EXAM</b>
                            </div>
                            <div class="col-sm-3 text-center">
                                <b>PASSED/ QUALIFIED?</b>
                            </div>
                        </div>
                        <br />
                        <!--ACTIVE-->
                        <div class="row" id="divActive">
                            <div class="col-sm-4">
                                <div class="form-check-radio">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="statuses" id="active" value="active" disabled>
                                        Active
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-5 text-center">

                            </div>
                            <div class="col-sm-3 text-center">
                                <input class="bootstrap-switch" type="checkbox" data-toggle="switch" data-on-label="<i class='nc-icon nc-check-2'></i>" data-off-label="<i class='nc-icon nc-simple-remove'></i>"
                                       data-on-color="success" data-off-color="success" id="activePassed" /><br />
                                <a id="activeRejection" href="#">Send Rejection Email</a>
                            </div>
                        </div>
                        <br />
                        <!--SHORTLISTED-->
                        <div class="row" id="divShortlisted">
                            <div class="col-sm-4">
                                <div class="form-check-radio">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="statuses" id="shortlisted" value="shortlisted" disabled>
                                        Initial Interview
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-5 text-center">
                                <input type="datetime-local" class="form-control" id="shortlistedDate" />
                                <a id="shorlistedInitialInvitation" href="#">Send Invitation Email</a>
                                <input type="text" hidden id="shortlistedSentInvitation" />
                                <input type="text" hidden id="shortlistedPass" />
                            </div>
                            <div class="col-sm-3 text-center">
                                <input class="bootstrap-switch" type="checkbox" data-toggle="switch" data-on-label="<i class='nc-icon nc-check-2'></i>" data-off-label="<i class='nc-icon nc-simple-remove'></i>"
                                       data-on-color="success" data-off-color="success" id="shortlistedPassed" /><br />
                                <a id="shortlistedRejection" href="#">Send Rejection Email</a>
                            </div>
                        </div>
                        <br />
                        <!--INITIAL EXAM-->
                        <div class="row" id="divInitialExam">
                            <div class="col-sm-4">
                                <div class="form-check-radio">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="statuses" id="initialExam" value="initialExam" disabled>
                                        Initial Examination
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-5 text-center">
                                <input type="datetime-local" class="form-control" id="initialExamDate" />
                                @*<a id="scheduleInitialExam" href="https://portal.peopledynamics.asia">Schedule Exam</a><br/>*@
                                <a id="initialExamInvitation" href="#">Send Invitation Email</a>
                                <input type="text" hidden id="initialExamSentInvitation" />
                                <input type="text" hidden id="initialExamPass" />
                            </div>
                            <div class="col-sm-3 text-center">
                                <input class="bootstrap-switch" type="checkbox" data-toggle="switch" data-on-label="<i class='nc-icon nc-check-2'></i>" data-off-label="<i class='nc-icon nc-simple-remove'></i>"
                                       data-on-color="success" data-off-color="success" id="initialExamPassed" /><br />
                                <a id="initialExamRejection" href="#">Send Rejection Email</a>
                            </div>
                        </div>
                        <br />
                        <!--FINAL INTERVIEW-->
                        <div class="row" id="divFinalInterview">
                            <div class="col-sm-4">
                                <div class="form-check-radio">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="statuses" id="finalInterview" value="finalInterview" disabled>
                                        Final Interview
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-5 text-center">
                                <input type="datetime-local" class="form-control" id="finalInterviewDate" />
                                <a id="finalInterviewInvitation" href="#">Send Invitation Email</a>
                                <input type="text" hidden id="finalInterviewSentInvitation" />
                                <input type="text" hidden id="finalInterviewPass" />
                            </div>
                            <div class="col-sm-3 text-center">
                                <input class="bootstrap-switch" type="checkbox" data-toggle="switch" data-on-label="<i class='nc-icon nc-check-2'></i>" data-off-label="<i class='nc-icon nc-simple-remove'></i>"
                                       data-on-color="success" data-off-color="success" id="finalInterviewPassed" /><br />
                                <a id="finalInterviewRejection" href="#">Send Rejection Email</a>
                            </div>
                        </div>

                        <!--GIDEON-->
                        <div class="row" id="divGideon">
                            <div class="col-sm-4">
                                <div class="form-check-radio">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="statuses" id="gideon" value="gideon" disabled>
                                        Gideon
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-5 text-center">
                                <input type="datetime-local" class="form-control" id="gideonDate" />
                                <a id="gideonInvitation" href="#">Send Invitation Email</a>
                                <input type="text" hidden id="gideonSentInvitation" />
                                <input type="text" hidden id="gideonPass" />
                            </div>
                            <div class="col-sm-3 text-center">
                                <input class="bootstrap-switch" type="checkbox" data-toggle="switch" data-on-label="<i class='nc-icon nc-check-2'></i>" data-off-label="<i class='nc-icon nc-simple-remove'></i>"
                                       data-on-color="success" data-off-color="success" id="gideonPassed" /><br />
                                <a id="gideonRejection" href="#">Send Rejection Email</a>
                            </div>
                        </div>
                        <br />
                        <!--FINAL EXAM-->
                        <div class="row" id="divFinalExam">
                            <div class="col-sm-4">
                                <div class="form-check-radio">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="statuses" id="finalExam" value="finalExam" disabled>
                                        Second Set of Examination
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-5 text-center">
                                <input type="datetime-local" class="form-control" id="finalExamDate" />
                                <a id="finalExamInvitation" href="#">Send Invitation Email</a>
                                <input type="text" hidden id="finalExamSentInvitation" />
                                <input type="text" hidden id="finalExamPass" />
                            </div>
                            <div class="col-sm-3 text-center">
                                <input class="bootstrap-switch" type="checkbox" data-toggle="switch" data-on-label="<i class='nc-icon nc-check-2'></i>" data-off-label="<i class='nc-icon nc-simple-remove'></i>"
                                       data-on-color="success" data-off-color="success" id="finalExamPassed" /><br />
                                <a id="finalExamRejection" href="#">Send Rejection Email</a>
                            </div>
                        </div>
                        <br />
                        <!--JOB OFFER-->
                        <div class="row" id="divJobOffer">
                            <div class="col-sm-4">
                                <div class="form-check-radio">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="statuses" id="jobOffer" value="jobOffer" disabled>
                                        Job Offer
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-5 text-center">
                                <input type="datetime-local" class="form-control" id="jobOfferDate" />
                                <a id="jobOfferInvitation" href="#">Send Invitation Email</a>
                                <input type="text" hidden id="jobOfferSentInvitation" />
                                <input type="text" hidden id="jobOfferPass" />
                            </div>
                            <div class="col-sm-3 text-center">
                                <input class="bootstrap-switch" type="checkbox" data-toggle="switch" data-on-label="<i class='nc-icon nc-check-2'></i>" data-off-label="<i class='nc-icon nc-simple-remove'></i>"
                                       data-on-color="success" data-off-color="success" id="jobOfferPassed" /><br />
                                <a id="jobOfferRejection" href="#">Send Rejection Email</a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        @*<div class="left-side">*@
                            <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Cancel</button>
                        @*</div>
                        <div class="divider"></div>
                        <div class="right-side">
                            <button type="button" class="btn btn-danger btn-link" id="btnUpdateEmail">Update and Send Email</button>
                            <button type="button" class="btn btn-danger btn-link" id="btnUpdate">Update</button>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>


        <script>
            $(document).ready(function () {
                

                $('#datatable').DataTable({
                    "pagingType": "full_numbers",
                    "lengthMenu": [
                        [10, 25, 50, -1],
                        [10, 25, 50, "All"]
                    ],
                    responsive: true,
                    language: {
                        search: "_INPUT_",
                        searchPlaceholder: "Search records",
                    }

                });

                var table = $('#datatable').DataTable();

                // Edit record
                table.on('click', '.edit', function () {
                    $tr = $(this).closest('tr');
                    var data = table.row($tr).data();
                    window.open("/JobApplications/DownloadPDF", "_blank");
                    $('.loading').hide();
                });

                // Delete a record
                table.on('click', '.remove', function (e) {
                    $tr = $(this).closest('tr');
                    table.row($tr).remove().draw();
                    e.preventDefault();
                });

                //Like record
                var jobId;
                var applicantId;
                var jobSlug;
                var applicantName;
                var jobStatus;
                var jobBranches;
                var isHeadOffice;

                table.on('click', '#appStatus', function () {
                    //alert('You clicked on Like button');
                    $tr = $(this).closest('tr');
                    var data = table.row($tr).data();
                    jobId = data[1];
                    applicantId = data[2];
                    jobSlug = data[3];
                    jobStatus = data[4];
                    applicantName = data[6];
                    jobBranches = data[11];
                    isHeadOffice = jobBranches.includes("HEAD OFFICE");

                    //console.log(jobStatus);
                    if (jobStatus == "active") {
                        
                        $("#active").prop('checked', 'checked');
                        //$("#activePassed").bootstrapSwitch('disabled', false);
                        $("#activePassed").bootstrapSwitch('state', false);
                        $('#shortlistedDate').val("");

                        if ($("#shortlistedSentInvitation") == "true") {
                            $("#shortlistedPassed").bootstrapSwitch('state', true);
                            $("#shortlistedPassed").bootstrapSwitch('disabled', false);
                            $('#shortlistedRejection').show();
                        }
                        else {
                            $("#shortlistedPassed").bootstrapSwitch('state', false);
                            $("#shortlistedPassed").bootstrapSwitch('disabled', true);
                            $('#shortlistedRejection').hide();
                        }

                        $("#shortlistedPassed").bootstrapSwitch('state', false);
                        $('#initialExamDate').val("");
                        $("#initialExamPassed").bootstrapSwitch('state', false);

                        $('#divActive').show();
                        $('#divShortlisted').hide();
                        $('#divInitialExam').hide();
                        $('#divFinalInterview').hide();
                        $('#divGideon').hide();
                        $('#divFinalExam').hide();
                        $('#divJobOffer').hide();
                    }

                    if (jobStatus == "shortlisted") {
                        GetStatus();
                                               
                        $("#activePassed").bootstrapSwitch('state', true);
                        $("#activePassed").bootstrapSwitch('disabled', true);

                        if ($("#initialExamSentInvitation") == "true") {
                            $("#initialExamPassed").bootstrapSwitch('state', true);
                            $("#initialExamPassed").bootstrapSwitch('disabled', false);
                            $('#initialExamRejection').show();
                        }
                        else {
                            $("#initialExamPassed").bootstrapSwitch('state', false);
                            $("#initialExamPassed").bootstrapSwitch('disabled', true);
                            $('#initialExamRejection').hide();
                        }

                        $('#divShortlisted').show();
                        $('#divInitialExam').hide();
                        $('#divFinalInterview').hide();
                        $('#divGideon').hide();
                        $('#divFinalExam').hide();
                        $('#divJobOffer').hide();
                    }

                    if (jobStatus == "initial examination") {
                        GetStatus();

                        $("#activePassed").bootstrapSwitch('state', true);
                        $("#activePassed").bootstrapSwitch('disabled', true);
                        $("#shortlistedPassed").bootstrapSwitch('state', true);
                        $("#shortlistedPassed").bootstrapSwitch('disabled', true);

                        if (isHeadOffice == true) {
                            if ($("#finalInterviewSentInvitation") == "true") {
                                $("#finalInterviewPassed").bootstrapSwitch('state', true);
                                $("#finalInterviewPassed").bootstrapSwitch('disabled', false);
                                $('#finalInterviewRejection').show();
                            }
                            else {
                                $("#finalInterviewPassed").bootstrapSwitch('state', false);
                                $("#finalInterviewPassed").bootstrapSwitch('disabled', true);
                                $('#finalInterviewRejection').hide();
                            }
                        }
                        else {
                            if ($("#gideonSentInvitation") == "true") {
                                $("#gideonPassed").bootstrapSwitch('state', true);
                                $("#gideonPassed").bootstrapSwitch('disabled', false);
                                $('#gideonRejection').show();
                            }
                            else {
                                $("#gideonPassed").bootstrapSwitch('state', false);
                                $("#gideonPassed").bootstrapSwitch('disabled', true);
                                $('#gideonRejection').hide();
                            }
                        }
                        

                        $('#divInitialExam').show();
                        $('#divFinalInterview').hide();
                        $('#divGideon').hide();
                        $('#divFinalExam').hide();
                        $('#divJobOffer').hide();
                    }

                    if (jobStatus == "gideon") {
                        GetStatus();

                        $("#activePassed").bootstrapSwitch('state', true);
                        $("#activePassed").bootstrapSwitch('disabled', true);
                        $("#shortlistedPassed").bootstrapSwitch('state', true);
                        $("#shortlistedPassed").bootstrapSwitch('disabled', true);
                        $("#initialExamPassed").bootstrapSwitch('state', true);
                        $("#initialExamPassed").bootstrapSwitch('disabled', true);

                        if ($("#finalExamSentInvitation") == "true") {
                            $("#finalExamPassed").bootstrapSwitch('state', true);
                            $("#finalExamPassed").bootstrapSwitch('disabled', false);
                            $('#finalExamRejection').show();
                        }
                        else {
                            $("#finalExamPassed").bootstrapSwitch('state', false);
                            $("#finalExamPassed").bootstrapSwitch('disabled', true);
                            $('#finalExamRejection').hide();
                        }

                        $('#divInitialExam').show();
                        $('#divFinalInterview').hide();
                        $('#divFinalExam').hide();
                        $('#divJobOffer').hide();
                    }

                    if (jobStatus == "final interview") {
                        GetStatus();

                        $("#activePassed").bootstrapSwitch('state', true);
                        $("#activePassed").bootstrapSwitch('disabled', true);
                        $("#shortlistedPassed").bootstrapSwitch('state', true);
                        $("#shortlistedPassed").bootstrapSwitch('disabled', true);
                        $("#initialExamPassed").bootstrapSwitch('state', true);
                        $("#initialExamPassed").bootstrapSwitch('disabled', true);

                        //if ($("#finalInterviewSentInvitation") == "true") {
                        //    $("#finalInterviewPassed").bootstrapSwitch('state', true);
                        //    $("#finalInterviewPassed").bootstrapSwitch('disabled', false);
                        //    $('#finalInterviewRejection').show();
                        //}
                        //else {
                        //    $("#finalInterviewPassed").bootstrapSwitch('state', false);
                        //    $("#finalInterviewPassed").bootstrapSwitch('disabled', true);
                        //    $('#finalInterviewRejection').hide();
                        //}

                        $('#divInitialExam').show();
                        $('#divJobOffer').hide();
                    }

                    if (jobStatus == "second set of examination") {
                        GetStatus();

                        $("#activePassed").bootstrapSwitch('state', true);
                        $("#activePassed").bootstrapSwitch('disabled', true);
                        $("#shortlistedPassed").bootstrapSwitch('state', true);
                        $("#shortlistedPassed").bootstrapSwitch('disabled', true);
                        $("#initialExamPassed").bootstrapSwitch('state', true);
                        $("#initialExamPassed").bootstrapSwitch('disabled', true);
                        $("#gideonPassed").bootstrapSwitch('state', true);
                        $("#gideonPassed").bootstrapSwitch('disabled', true);

                        if ($("#jobOfferSentInvitation") == "true") {
                            $("#jobOfferPassed").bootstrapSwitch('state', true);
                            $("#jobOfferPassed").bootstrapSwitch('disabled', false);
                            $('#jobOfferRejection').show();
                        }
                        else {
                            $("#jobOfferPassed").bootstrapSwitch('state', false);
                            $("#jobOfferPassed").bootstrapSwitch('disabled', true);
                            $('#jobOfferRejection').hide();
                        }

                        $('#divInitialExam').show();
                        $('#divFinalInterview').hide();
                        $('#divFinalExam').hide();
                        $('#divJobOffer').hide();
                    }

                    if (jobStatus == "job offer") {
                        GetStatus();

                        $("#activePassed").bootstrapSwitch('state', true);
                        $("#activePassed").bootstrapSwitch('disabled', true);
                        $("#shortlistedPassed").bootstrapSwitch('state', true);
                        $("#shortlistedPassed").bootstrapSwitch('disabled', true);
                        $("#initialExamPassed").bootstrapSwitch('state', true);
                        $("#initialExamPassed").bootstrapSwitch('disabled', true);
                        $("#gideonPassed").bootstrapSwitch('state', true);
                        $("#gideonPassed").bootstrapSwitch('disabled', true);
                        $("#finalExamPassed").bootstrapSwitch('state', true);
                        $("#finalExamPassed").bootstrapSwitch('disabled', true);

                        //if ($("#jobOfferSentInvitation") == "true") {
                        //    $("#jobOfferPassed").bootstrapSwitch('state', true);
                        //    $("#jobOfferPassed").bootstrapSwitch('disabled', false);
                        //    $('#jobOfferRejection').show();
                        //}
                        //else {
                        //    $("#jobOfferPassed").bootstrapSwitch('state', false);
                        //    $("#jobOfferPassed").bootstrapSwitch('disabled', true);
                        //    $('#jobOfferRejection').hide();
                        //}

                        $('#divInitialExam').show();
                        $('#divFinalInterview').hide();
                        $('#divFinalExam').hide();
                        $('#divJobOffer').hide();
                    }

                    $("#modalStatus").modal('show');

                });

                //ACTIVE
                $('#activePassed').on('switchChange.bootstrapSwitch', function (event, state) {
                    if (state == true) {
                        $("#active").prop('checked', '');
                        $('#activeRejection').hide();
                        $("#shortlisted").prop('checked', 'checked');
                        $('#divShortlisted').show();
                    }
                    else {
                        $('#activeRejection').show();
                        $("#active").prop('checked', 'checked');
                        $("#shortlisted").prop('checked', '');
                        $('#divShortlisted').hide();
                    }
                });
                //SHORTLISTED
                $('#shortlistedPassed').on('switchChange.bootstrapSwitch', function (event, state) {
                   updatePassed(state, "shortlisted");
                    if (state == true) {
                        $("#shortlisted").prop('checked', '');
                        $('#shortlistedRejection').hide();
                        $('#shorlistedInitialInvitation').hide();
                        $("#initialExam").prop('checked', 'checked');
                        $('#divInitialExam').show();
                    }
                    else {
                        $('#shortlistedRejection').show();
                        $('#shorlistedInitialInvitation').show();
                        $("#shortlisted").prop('checked', 'checked');
                        $("#initialExam").prop('checked', '');
                        $('#divInitialExam').hide();
                    }
                });
                //INITIAL EXAMINATION
                $('#initialExamPassed').on('switchChange.bootstrapSwitch', function (event, state) {
                    updatePassed(state, "initial examination");
                    if (isHeadOffice == true) {
                        if (state == true) {
                            $("#initialExam").prop('checked', '');
                            $('#initialExamRejection').hide();
                            $('#initialExamInvitation').hide();
                            $("#finalInterview").prop('checked', 'checked');
                            $('#divFinalInterview').show();
                        }
                        else {
                            $('#initialExamRejection').show();
                            $('#initialExamInvitation').show();
                            $("#initialExam").prop('checked', 'checked');
                            $("#finalInterview").prop('checked', '');
                            $('#divFinalInterview').hide();
                        }
                    }
                    else {
                        if (state == true) {
                            $("#initialExam").prop('checked', '');
                            $('#initialExamRejection').hide();
                            $('#initialExamInvitation').hide();
                            $("#gideon").prop('checked', 'checked');
                            $('#divGideon').show();
                        }
                        else {
                            $('#initialExamRejection').show();
                            $('#initialExamInvitation').show();
                            $("#initialExam").prop('checked', 'checked');
                            $("#gideon").prop('checked', '');
                            $('#divGideon').hide();
                        }
                    }
                    
                });
                //GIDEON
                $('#gideonPassed').on('switchChange.bootstrapSwitch', function (event, state) {
                    updatePassed(state, "gideon");
                    if (isHeadOffice == true) {
                        if (state == true) {
                            $("#gideon").prop('checked', '');
                            $('#gideonRejection').hide();
                            $('#gideonInvitation').hide();
                            //$("#finalExam").prop('checked', 'checked');
                            //$('#divFinalExam').show();
                        }
                        else {
                            $('#gideonRejection').show();
                            $('#gideonInvitation').show();
                            $("#gideon").prop('checked', 'checked');
                            //$("#finalExam").prop('checked', '');
                            //$('#divFinalExam').hide();
                        }
                    }
                    else {
                        if (state == true) {
                            $("#gideon").prop('checked', '');
                            $('#gideonRejection').hide();
                            $('#gideonInvitation').hide();
                            $("#finalExam").prop('checked', 'checked');
                            $('#divFinalExam').show();
                        }
                        else {
                            $('#gideonRejection').show();
                            $('#gideonInvitation').show();
                            $("#gideon").prop('checked', 'checked');
                            $("#finalExam").prop('checked', '');
                            $('#divFinalExam').hide();
                        }
                    }

                });
                //FINAL EXAM
                $('#finalExamPassed').on('switchChange.bootstrapSwitch', function (event, state) {
                    updatePassed(state, "second set of examination");
                    if (isHeadOffice == true) {
                        
                    }
                    else {
                        if (state == true) {
                            $("#finalExam").prop('checked', '');
                            $('#finalExamRejection').hide();
                            $('#finalExamInvitation').hide();
                            $("#jobOffer").prop('checked', 'checked');
                            $('#divJobOffer').show();
                        }
                        else {
                            $('#finalExamRejection').show();
                            $('#finalExamInvitation').show();
                            $("#finalExam").prop('checked', 'checked');
                            $("#jobOffer").prop('checked', '');
                            $('#divJobOffer').hide();
                        }
                    }

                });

                //JOB OFFER
                $('#jobOfferPassed').on('switchChange.bootstrapSwitch', function (event, state) {
                    updatePassed(state, "second set of examination");
                    if (isHeadOffice == true) {

                    }
                    else {
                        if (state == true) {
                            $("#jobOffer").prop('checked', '');
                            $('#jobOfferRejection').hide();
                            $('#jobOfferInvitation').hide();
                            $("#jobOffer").prop('checked', 'checked');
                            //$('#divJobOffer').show();
                        }
                        else {
                            $('#jobOfferRejection').show();
                            $('#jobOfferInvitation').show();
                            $("#jobOffer").prop('checked', 'checked');
                            $("#jobOffer").prop('checked', '');
                            //$('#divJobOffer').hide();
                        }
                    }

                });

                function GetStatus() {
                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("GetStat", "JobApplications")",
                        data: {
                            jobId: jobId,
                            applicantId: applicantId,
                            status: jobStatus
                        },
                        success: function (data) {
                            //console.log(data);
                            $.each(data, function (index, res) {

                                //SHORTLISTED
                                if (res.status == "shortlisted") {
                                    $('#shortlistedDate').val(res.inclusiveDate);
                                    $('#shortlistedSentInvitation').val(res.sentInvitation);
                                    $('#shortlistedPass').val(res.passed);
                                    
                                    if (res.passed == true) {
                                        $("#shortlistedPassed").bootstrapSwitch('state', true);
                                        $('#divInitialExam').show();
                                    }
                                    else {
                                        $("#shortlistedPassed").bootstrapSwitch('state', false);
                                        $('#divInitialExam').hide();
                                    }
                                    
                                }
                                //INITIAL EXAM
                                if (res.status == "initial examination") {
                                    $('#initialExamDate').val(res.inclusiveDate);
                                    $('#initialExamSentInvitation').val(res.sentInvitation);
                                    $('#initialExamPass').val(res.passed);

                                    if (isHeadOffice == true) {
                                        if (res.passed == true) {
                                            $("#initialExamPassed").bootstrapSwitch('state', true);
                                            $('#divFinalInterview').show();
                                        }
                                        else {
                                            $("#initialExamPassed").bootstrapSwitch('state', false);
                                            $('#divFinalInterview').hide();
                                        }
                                    }
                                    else {
                                        if (res.passed == true) {
                                            $("#initialExamPassed").bootstrapSwitch('state', true);
                                            $('#divGideon').show();
                                        }
                                        else {
                                            $("#initialExamPassed").bootstrapSwitch('state', false);
                                            $('#divGideon').hide();
                                        }
                                    }
                                    
                                }
                                //GIDEON
                                if (res.status == "gideon") {
                                    $('#gideonDate').val(res.inclusiveDate);
                                    $('#gideonSentInvitation').val(res.sentInvitation);
                                    $('#gideonPass').val(res.passed);
                                    if (res.passed == true) {
                                        $("#gideonPassed").bootstrapSwitch('state', true);
                                        $('#divFinalExam').show();
                                    }
                                    else {
                                        $("#gideonPassed").bootstrapSwitch('state', false);
                                        $('#divFinalExam').hide();
                                    }
                                }
                                //FINAL INTERVIEW
                                if (res.status == "final interview") {
                                    $('#finalInterviewDate').val(res.inclusiveDate);
                                    $('#finalInterviewSentInvitation').val(res.sentInvitation);
                                    $('#finalInterviewPass').val(res.passed);
                                    if (res.passed == true) {
                                        $("#finalInterviewPassed").bootstrapSwitch('state', true);
                                        $('#divJobOffer').show();
                                    }
                                    else {
                                        $("#finalInterviewPassed").bootstrapSwitch('state', false);
                                        $('#divJobOffer').hide();
                                    }
                                }

                                //FINAL EXAM
                                if (res.status == "second set of examination") {
                                    $('#finalExamDate').val(res.inclusiveDate);
                                    $('#finalExamSentInvitation').val(res.sentInvitation);
                                    $('#finalExamPass').val(res.passed);
                                    if (res.passed == true) {
                                        $("#finalExamPassed").bootstrapSwitch('state', true);
                                        $('#divJobOffer').show();
                                    }
                                    else {
                                        $("#finalExamPassed").bootstrapSwitch('state', false);
                                        $('#divJobOffer').hide();
                                    }
                                }

                                //JOB OFFER
                                if (res.status == "job offer") {
                                    $('#jobOfferDate').val(res.inclusiveDate);
                                    $('#jobOfferSentInvitation').val(res.sentInvitation);
                                    $('#jobOfferPass').val(res.passed);
                                    if (res.passed == true) {
                                        $("#jobOfferPassed").bootstrapSwitch('state', true);
                                        //$('#divJobOffer').show();
                                    }
                                    else {
                                        $("#jobOfferPassed").bootstrapSwitch('state', false);
                                        //$('#divJobOffer').hide();
                                    }
                                }
                            });
                            
                        }
                    })
                }

                function sendRejectEmail(textMessageStatus, appName) {
                    var formData = new FormData();
                    formData.append("id", jobId);
                    formData.append("applicantId", applicantId);
                    formData.append("jobSlug", jobSlug);
                    formData.append("status", "active");

                    swal({
                        title: "Are you sure?",
                        text: "This will inform applicant " + appName + " not to proceed with the " + textMessageStatus + " process.",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes",
                        cancelButtonText: "No",
                        closeOnConfirm: false
                    }, function () {
                            swal({
                                title: 'Please Wait..!',
                                text: 'Saving Record',
                                allowOutsideClick: false,
                                allowEscapeKey: false,
                                allowEnterKey: false,
                                showCancelButton: false,
                                showConfirmButton: false,
                                onOpen: () => {
                                    swal.showLoading()
                                }
                            })
                            $.ajax({
                                type: "POST",
                                url: "@Url.Action("SendRejectionEmail", "JobApplications")",
                                data: formData,
                                processData: false,
                                contentType: false,
                                success: function (data) {
                                    swal("Success", "Email Sent.", "success");
                                    location.reload();
                                }
                            })
                    });
                }

                function sendInvitationEmail(appName, status) {
                    var incDate;
                    var pass;
                    var URL;
                    var msg;
                    if (status == "shortlisted") {
                        incDate = $("#shortlistedDate").val();
                        pass = $("#shortlistedPass").val();
                        URL = "@Url.Action("InitialInterviewEmailBranch", "JobApplications")";
                        msg = "Job Interview";
                    }
                    if (status == "initial examination") {
                        var dt = new Date();
                        var currDate = dt.getMonth() + "/" + dt.getDate() + "/" + dt.getFullYear();
                        incDate = currDate;
                        pass = $("#initialExamPass").val();
                        URL = "@Url.Action("InitialExamEmail", "JobApplications")"
                        msg = "Initial Exam";
                    }
                    if (status == "final interview") {
                        incDate = $("#finalInterviewDate").val();
                        pass = $("#finalInterviewPass").val();
                        URL = "@Url.Action("InitialExamEmail", "JobApplications")"
                        msg = "Final Interview";
                    }
                    if (status == "gideon") {
                        incDate = $("#gideonDate").val();
                        pass = $("#gideonPass").val();
                        URL = "@Url.Action("InitialExamEmail", "JobApplications")"
                        msg = "Gideon";
                    }
                    if (status == "second set of examination") {
                        incDate = $("#finalExamDate").val();
                        pass = $("#finalExamPass").val();
                        URL = "@Url.Action("InitialExamEmail", "JobApplications")"
                        msg = "Second Set of Examination";
                    }

                    if (status == "job offer") {
                        incDate = $("#jobOfferDate").val();
                        pass = $("#jobOfferPass").val();
                        URL = "@Url.Action("InitialExamEmail", "JobApplications")"
                        msg = "Job Offer";
                    }

                    var formData = new FormData();
                    formData.append("jobId", jobId);
                    formData.append("applicantId", applicantId);
                    formData.append("jobSlug", jobSlug);
                    formData.append("inclusiveDate", incDate );
                    formData.append("sentInvitation", true);
                    formData.append("shortlistedPass", pass);
                    formData.append("status", status);

                    swal({
                        title: "Are you sure?",
                        text: "This will invite applicant for a " + msg + ".",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes",
                        cancelButtonText: "No",
                        closeOnConfirm: false
                    }, function () {
                            swal({
                                title: 'Please Wait..!',
                                text: 'Saving Record',
                                allowOutsideClick: false,
                                allowEscapeKey: false,
                                allowEnterKey: false,
                                showCancelButton: false,
                                showConfirmButton: false,
                                onOpen: () => {
                                    swal.showLoading()
                                }
                            })
                            $.ajax({
                                type: "POST",
                                url: URL,
                                data: formData,
                                processData: false,
                                contentType: false,
                                success: function (data) {
                                    swal("Success", "Email Sent.", "success");
                                    location.reload();
                                }
                            })
                    });
                }

                

                //SEND EMAIL REJECTION
                $('#btnUpdateEmail').click(function () {
                    var selected = $('input[name="statuses"]:checked').val();

                    if (selected == "active") {
                        textMessageStatus = "INITIAL INTERVIEW";
                        sendRejectEmail(textMessageStatus, applicantName);
                    }
                    else {
                        textMessageStatus = "EXAMINATION (Profiles Asia)";
                        sendRejectEmail(textMessageStatus, applicantName);
                    }

                });

                $('#activeRejection').click(function () {
                    textMessageStatus = "INITIAL INTERVIEW";
                    sendRejectEmail(textMessageStatus, applicantName);

                });
                $('#shortlistedRejection').click(function () {
                    textMessageStatus = "EXAMINATION (Profiles Asia)";
                    sendRejectEmail(textMessageStatus, applicantName);
                });

                $('#initialExamRejection').click(function () {
                    textMessageStatus = "Final Interview/Gideon";
                    sendRejectEmail(textMessageStatus, applicantName);
                });

                $('#finalInterviewRejection').click(function () {
                    textMessageStatus = "Job Offer";
                    sendRejectEmail(textMessageStatus, applicantName);
                });

                $('#gideonRejection').click(function () {
                    textMessageStatus = "Second Examination";
                    sendRejectEmail(textMessageStatus, applicantName);
                });

                $('#finalExamRejection').click(function () {
                    textMessageStatus = "Job Offer";
                    sendRejectEmail(textMessageStatus, applicantName);
                });

                $('#jobOfferRejection').click(function () {
                    textMessageStatus = "Next Step";
                    sendRejectEmail(textMessageStatus, applicantName);
                });

                

                 //SEND EMAIL INVITATION
                $('#shorlistedInitialInvitation').click(function () {
                   // console.log($("#shortlistedSentInvitation").val());
                    if ($("#shortlistedSentInvitation").val() == "true") {
                        swal({
                            title: "Email already sent.",
                            text: "Would you like to send it again?",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Yes",
                            cancelButtonText: "No",
                            closeOnConfirm: false
                        }, function () {
                            if ($("#shortlistedDate").val() == "") {
                                swal("Error", "Schedule for Initial Interview must not be empty", "error");
                            }
                            else {
                                sendInvitationEmail(applicantName, "shortlisted");
                            }
                        });
                    }
                    else {
                        if ($("#shortlistedDate").val() == "") {
                            swal("Error", "Schedule for Initial Interview must not be empty", "error");
                        }
                        else {
                            sendInvitationEmail(applicantName, "shortlisted");
                        }
                    }
                });

                $('#initialExamInvitation').click(function () {
                    if ($("#initialExamSentInvitation").val() == "true") {
                        swal({
                            title: "Email already sent.",
                            text: "Would you like to send it again?",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Yes",
                            cancelButtonText: "No",
                            closeOnConfirm: false
                        }, function () {
                            if ($("#initialExamDate").val() == "") {
                                swal("Error", "Schedule for Initial Examination must not be empty", "error");
                            }
                            else {
                                sendInvitationEmail(applicantName, "initial examination");
                            }
                        });
                    }
                    else {
                        if ($("#initialExamDate").val() == "") {
                            swal("Error", "Schedule for Initial Examination must not be empty", "error");
                        }
                        else {
                            sendInvitationEmail(applicantName, "initial examination");
                        }
                    }
                });

                $('#finalInterviewInvitation').click(function () {
                    if ($("#finalInterviewSentInvitation").val() == "true") {
                        swal({
                            title: "Email already sent.",
                            text: "Would you like to send it again?",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Yes",
                            cancelButtonText: "No",
                            closeOnConfirm: false
                        }, function () {
                            if ($("#finalInterviewDate").val() == "") {
                                swal("Error", "Schedule for Final Interview must not be empty", "error");
                            }
                            else {
                                sendInvitationEmail(applicantName, "final interview");
                            }
                        });
                    }
                    else {
                        if ($("#finalInterviewDate").val() == "") {
                            swal("Error", "Schedule for Final Interview must not be empty", "error");
                        }
                        else {
                            sendInvitationEmail(applicantName, "final interview");
                        }
                    }
                });

                $('#gideonInvitation').click(function () {
                    if ($("#gideonSentInvitation").val() == "true") {
                        swal({
                            title: "Email already sent.",
                            text: "Would you like to send it again?",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Yes",
                            cancelButtonText: "No",
                            closeOnConfirm: false
                        }, function () {
                            if ($("#gideonDate").val() == "") {
                                swal("Error", "Schedule for Gideon must not be empty", "error");
                            }
                            else {
                                sendInvitationEmail(applicantName, "gideon");
                            }
                        });
                    }
                    else {
                        if ($("#gideonDate").val() == "") {
                            swal("Error", "Schedule for Gideon must not be empty", "error");
                        }
                        else {
                            sendInvitationEmail(applicantName, "gideon");
                        }
                    }
                });

                $('#finalExamInvitation').click(function () {
                    if ($("#finalExamSentInvitation").val() == "true") {
                        swal({
                            title: "Email already sent.",
                            text: "Would you like to send it again?",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Yes",
                            cancelButtonText: "No",
                            closeOnConfirm: false
                        }, function () {
                            if ($("#finalExamDate").val() == "") {
                                swal("Error", "Schedule for Second Set of Examination must not be empty", "error");
                            }
                            else {
                                sendInvitationEmail(applicantName, "second set of examination");
                            }
                        });
                    }
                    else {
                        if ($("#finalExamDate").val() == "") {
                            swal("Error", "Schedule for Second Set of Examination must not be empty", "error");
                        }
                        else {
                            sendInvitationEmail(applicantName, "second set of examination");
                        }
                    }
                });

                $('#jobOfferInvitation').click(function () {
                    if ($("#jobOfferSentInvitation").val() == "true") {
                        swal({
                            title: "Email already sent.",
                            text: "Would you like to send it again?",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Yes",
                            cancelButtonText: "No",
                            closeOnConfirm: false
                        }, function () {
                                if ($("#jobOfferDate").val() == "") {
                                    swal("Error", "Schedule for Job Offer must not be empty", "error");
                                }
                                else {
                                    sendInvitationEmail(applicantName, "job offer");
                                }
                        });
                    }
                    else {
                        if ($("#jobOfferDate").val() == "") {
                            swal("Error", "Schedule for Job Offer must not be empty", "error");
                        }
                        else {
                            sendInvitationEmail(applicantName, "job offer");
                        }
                       
                    }
                });

                function updatePassed(state, jStatus) {
                    
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("UpdatePassed", "JobApplications")",
                        data: {
                            jobId: jobId,
                            applicantId: applicantId,
                            passed: state,
                            status: jStatus
                        }
                    })
                }
            });
        </script>


    }
    else
    {
        <div class="container-fluid">
            <h1>UNAUTHORIZED ACCESS</h1>
        </div>
    }
}
