﻿@using Recruitment.Models.IRepo;
@model List<JobApplicationViewModel>;
@inject iUserManager UserManager;
@{
    bool isAdmin = false;
    isAdmin = UserManager.GetCurrentUser(this.Context).isAdmin;
    var id = UserManager.GetCurrentUser(this.Context).id.ToString();
    string applicantId = @Context.Request.Query["applicantId"];
}
@{
    if (id != applicantId)
    {
        <div class="container-fluid">
            <h1>UNAUTHORIZED ACCESS</h1>
        </div>
    }
    else
    {
        <style>
            .span-texatarea {
                overflow: auto;
                /*height: 8rem;*/
                resize: vertical;
                vertical-align: top !important;
                text-transform: none;
                color: inherit;
                font: inherit;
                border: none;
                outline: 0;
                margin: 0;
                -webkit-appearance: textarea;
                appearance: textarea;
                flex-direction: column !important;
                white-space: pre-wrap !important;
                word-wrap: break-word;
                display: inline-block;
                text-align: start;
                -webkit-writing-mode: horizontal-tb;
            }

            textarea {
                width: 500px;
                height: 150px;
            }
        </style>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">MY APPLICATIONS</h5>

                        </div>
                        <div class="card-body">

                            <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th hidden></th>
                                        <th>Job Applied</th>
                                        <th>Branch</th>
                                        <th>Status</th>
                                        <th>Remarks</th>
                                        <th class="text-center">Cancel</th>
                                        @*<th class="disabled-sorting text-center">View</th>
                                            <th class="disabled-sorting text-center">Cancel</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int ctr = 1;
                                        foreach (var item in Model)
                                        {
                                            var style = "";
                                            var background = "";
                                            var vStatus = "";
                                            if (item.status == "cancelled")
                                            {
                                                style = "disabled";
                                                background = "color: red; font-weight: bold";
                                                vStatus = "cancelled";
                                            }
                                            else
                                            {
                                                vStatus = "active";
                                            }

                                            <tr style="@background">
                                                <td>@ctr</td>
                                                <td hidden>@item.id</td>
                                                <td>@item.jobPosition</td>
                                                <td><div><span class="span-texatarea">@item.branches</span></div></td>
                                                <td>@vStatus</td>
                                                <td>@item.remarks</td>
                                                @*<td><a href="#" class="btn btn-success btn-link btn-sm edit"><i class="fa fa-eye"></i>Details</a></td>*@
                                                @*<td class="text-center"><a href="#" class="btn btn-danger btn-link btn-sm remove" @style><i class="fa fa-ban"></i>Cancel</a></td>*@
                                                <td class="td-actions text-center">
                                                    <a href="#" type="button" rel="tooltip" title="" @style class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral remove" data-original-title="Cancel Application">
                                                        <i class="nc-icon nc-simple-remove"></i>
                                                    </a>
                                                    @*<button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                                                            <i class="nc-icon nc-simple-remove"></i>
                                                        </button>*@
                                                </td>
                                            </tr>
                                            ctr += 1;
                                        }
                                    }
                                </tbody>

                            </table>
                        </div><!-- end content-->
                    </div><!--  end card  -->
                </div> <!-- end col-md-12 -->
            </div> <!-- end row -->
        </div>

        <script>
            
            $(document).ready(function () {

                $('#datatable').DataTable({
                    "pagingType": "full_numbers",
                    "lengthMenu": [
                        [10, 25, 50, -1],
                        [10, 25, 50, "All"]
                    ],
                    responsive: true,
                    language: {
                        search: "_INPUT_",
                        searchPlaceholder: "Search records",
                    }
                });
                var table = $('#datatable').DataTable();

            // Edit record
                table.on('click', '.edit', function () {
                    $tr = $(this).closest('tr');
                    var data = table.row($tr).data();
                    alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
                });


            // Delete a record
                table.on('click', '.remove', function (e) {
                    $tr = $(this).closest('tr');
                    var data = table.row($tr).data();
                    var id = data[1];
                //alert(data[1]);
                    swal({
                        title: "Are you sure you want to cancel this application?",
                        text: "Confirmation",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes",
                        cancelButtonText: "No",
                        closeOnConfirm: false
                    }, function () {
                            swal({
                                title: 'Please Wait..!',
                                text: 'Processing',
                                allowOutsideClick: false,
                                allowEscapeKey: false,
                                allowEnterKey: false,
                                showCancelButton: false,
                                showConfirmButton: false,
                                onOpen: () => {
                                    swal.showLoading()
                                }
                            })
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("UpdateStatus", "JobApplications")',
                                data: {
                                    status: "cancelled",
                                    id: id
                                },
                                success: function (data) {
                                    swal({
                                        title: "Cancelled!",
                                        text: "",
                                        type: "success",
                                        showCancelButton: false,
                                        confirmButtonColor: "#DD6B55",
                                        confirmButtonText: "OK",
                                        closeOnConfirm: true
                                    }, function () {
                                        location.reload();
                                    });
                                }
                            })
                    });
                });

            });
            </script>
    }
}


