﻿@using Recruitment.Models.IRepo;
@using System.IO;
@model List<StatusesViewModel>;
@inject iUserManager UserManager;
@{
    bool isAdmin = false;
    isAdmin = UserManager.GetCurrentUser(this.Context).isAdmin;
}
@{
    if (isAdmin)
    {
        <style>
            .span-texatarea {
                overflow: auto;
                /*height: 8rem;*/
                resize: vertical;
                vertical-align: top !important;
                text-transform: none;
                color: inherit;
                font: inherit;
                border: none;
                outline: 0;
                margin: 0;
                -webkit-appearance: textarea;
                appearance: textarea;
                flex-direction: column !important;
                white-space: pre-wrap !important;
                word-wrap: break-word;
                display: inline-block;
                text-align: start;
                -webkit-writing-mode: horizontal-tb;
            }

            textarea {
                width: 500px;
                height: 150px;
            }
        </style>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">JOB DETAILS</h5>

                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img width="100px" height="100px" src="@Model.FirstOrDefault().picture" />
                                </div>
                                <div class="col-sm-10">
                                    Applicant Name: <h6>@Model.FirstOrDefault().firstName @Model.FirstOrDefault().middleName @Model.FirstOrDefault().lastName</h6>
                                    Position Applied: <h6>@Model.FirstOrDefault().jobPosition</h6>
                                </div>
                            </div>
                            <br />
                            <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>

                                        <th>Status</th>
                                        <th class="text-center">Date of Interview / Exam</th>
                                        <th class="text-center">Passed / Failed</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <!--ACTIVE-->
                                    <tr id="divActive">
                                        <td>
                                            <div class="form-check-radio">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="statuses" id="active" value="active" disabled>
                                                    Active
                                                    <span class="form-check-sign"></span>
                                                </label>
                                            </div>
                                        </td>

                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            <input class="bootstrap-switch" type="checkbox" data-toggle="switch" data-on-label="<i class='nc-icon nc-check-2'></i>" data-off-label="<i class='nc-icon nc-simple-remove'></i>"
                                                   data-on-color="success" data-off-color="success" id="activePassed" /><br />
                                            <a class="badge badge-pill badge-danger" id="activeRejection" href="#">Send Failed Notification</a>
                                        </td>
                                    </tr>

                                    <!--SHORTLISTED-->
                                    <tr id="divShortlisted">
                                        <td>
                                            <div class="form-check-radio">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="statuses" id="shortlisted" value="shortlisted" disabled>
                                                    Initial Interview
                                                    <span class="form-check-sign"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <input type="datetime-local" class="form-control" id="shortlistedDate" />
                                            <a class="badge badge-pill badge-info" id="shorlistedInitialInvitation" href="#">Send Invitation Email</a>
                                            <input type="text" hidden id="shortlistedSentInvitation" />
                                            <input type="text" hidden id="shortlistedPass" />
                                        </td>
                                        <td class="text-center">
                                            <input class="bootstrap-switch" type="checkbox" data-toggle="switch" data-on-label="<i class='nc-icon nc-check-2'></i>" data-off-label="<i class='nc-icon nc-simple-remove'></i>"
                                                   data-on-color="success" data-off-color="success" id="shortlistedPassed" /><br />
                                            <a class="badge badge-pill badge-danger" id="shortlistedRejection" href="#">Send Failed Notification</a>
                                        </td>
                                    </tr>

                                    <!--INITIAL EXAM-->
                                    <tr id="divInitialExam">
                                        <td>
                                            <div class="form-check-radio">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="statuses" id="initialExam" value="initialExam" disabled>
                                                    Initial Examination
                                                    <span class="form-check-sign"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <input type="datetime-local" class="form-control" hidden id="initialExamDate" />
                                            <a class="badge badge-pill badge-warning" id="scheduleInitialExam" href="https://portal.peopledynamics.asia" target="_blank">Schedule for Exam</a><br />
                                            <a class="badge badge-pill badge-info" id="initialExamInvitation" href="#">Send Notification Email</a>
                                            <input type="text" hidden id="initialExamSentInvitation" />
                                            <input type="text" hidden id="initialExamPass" />
                                        </td>
                                        <td class="text-center">
                                            <input class="bootstrap-switch" type="checkbox" data-toggle="switch" data-on-label="<i class='nc-icon nc-check-2'></i>" data-off-label="<i class='nc-icon nc-simple-remove'></i>"
                                                   data-on-color="success" data-off-color="success" id="initialExamPassed" /><br />
                                            <a class="badge badge-pill badge-info" id="initialExamEmailPassed" href="#">Send Passed Notification</a>
                                            <a class="badge badge-pill badge-danger" id="initialExamRejection" href="#">Send Failed Notification</a>
                                        </td>
                                    </tr>

                                    <!--FINAL INTERVIEW-->
                                    <tr id="divFinalInterview">
                                        <td>
                                            <div class="form-check-radio">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="statuses" id="finalInterview" value="finalInterview" disabled>
                                                    Final Interview
                                                    <span class="form-check-sign"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <input type="datetime-local" class="form-control" id="finalInterviewDate" />
                                            <a class="badge badge-pill badge-info" id="finalInterviewInvitation" href="#">Send Notification Email</a>
                                            <input type="text" hidden id="finalInterviewSentInvitation" />
                                            <input type="text" hidden id="finalInterviewPass" />
                                        </td>
                                        <td class="text-center">
                                            <input class="bootstrap-switch" type="checkbox" data-toggle="switch" data-on-label="<i class='nc-icon nc-check-2'></i>" data-off-label="<i class='nc-icon nc-simple-remove'></i>"
                                                   data-on-color="success" data-off-color="success" id="finalInterviewPassed" /><br />
                                            <a class="badge badge-pill badge-danger" id="finalInterviewRejection" href="#">Send Failed Notification</a>
                                        </td>
                                    </tr>

                                    <!--GIDEON-->
                                    <tr id="divGideon">
                                        <td class="col-sm-4">
                                            <div class="form-check-radio">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="statuses" id="gideon" value="gideon" disabled>
                                                    Gideon
                                                    <span class="form-check-sign"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <input type="datetime-local" class="form-control" id="gideonDate" />
                                            <a class="badge badge-pill badge-info" id="gideonInvitation" href="#">Send Invitation Email</a>
                                            <input type="text" hidden id="gideonSentInvitation" />
                                            <input type="text" hidden id="gideonPass" />
                                        </td>
                                        <td class="text-center">
                                            <input class="bootstrap-switch" type="checkbox" data-toggle="switch" data-on-label="<i class='nc-icon nc-check-2'></i>" data-off-label="<i class='nc-icon nc-simple-remove'></i>"
                                                   data-on-color="success" data-off-color="success" id="gideonPassed" /><br />
                                            <a class="badge badge-pill badge-info" id="gideonEmailPassed" href="#">Send Passed Email</a>
                                            <a class="badge badge-pill badge-danger" id="gideonRejection" href="#">Send Failed Notification</a>
                                        </td>
                                    </tr>

                                    <!--FINAL EXAM-->
                                    <tr id="divFinalExam">
                                        <td>
                                            <div class="form-check-radio">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="statuses" id="finalExam" value="finalExam" disabled>
                                                    Second Set of Examination / Submission of Documents
                                                    <span class="form-check-sign"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <input type="datetime-local" class="form-control" id="finalExamDate" />
                                            <a class="badge badge-pill badge-info" id="finalExamInvitation" href="#">Send Invitation Email</a>
                                            <input type="text" hidden id="finalExamSentInvitation" />
                                            <input type="text" hidden id="finalExamPass" />
                                        </td>
                                        <td class="text-center">
                                            <div hidden>
                                                <input class="bootstrap-switch" type="checkbox" checked data-toggle="switch" data-on-label="<i class='nc-icon nc-check-2'></i>" data-off-label="<i class='nc-icon nc-simple-remove'></i>"
                                                       data-on-color="success" data-off-color="success" id="finalExamPassed" /><br />
                                            </div>
                                            <a class="badge badge-pill badge-info" id="finalExamRejection" href="#">Send Submission of Requirements</a>
                                        </td>
                                    </tr>


                                    <!--JOB OFFER-->
                                    <tr id="divJobOffer">
                                        <td>
                                            <div class="form-check-radio">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="statuses" id="jobOffer" value="jobOffer" disabled>
                                                    Job Offer
                                                    <span class="form-check-sign"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <input type="datetime-local" class="form-control" id="jobOfferDate" />
                                            <a id="jobOfferInvitation" href="#">Send Invitation Email</a>
                                            <input type="text" hidden id="jobOfferSentInvitation" />
                                            <input type="text" hidden id="jobOfferPass" />
                                        </td>
                                        <td class="text-center">
                                            <input class="bootstrap-switch" type="checkbox" data-toggle="switch" data-on-label="<i class='nc-icon nc-check-2'></i>" data-off-label="<i class='nc-icon nc-simple-remove'></i>"
                                                   data-on-color="success" data-off-color="success" id="jobOfferPassed" /><br />
                                            <a id="jobOfferRejection" href="#">Send Failed Notification</a>
                                        </td>
                                    </tr>

                                    <!--HIRED-->
                                    <tr id="divHired">
                                        <td>
                                            <div class="form-check-radio">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="statuses" id="hired" value="hired" disabled>
                                                    Hired
                                                    <span class="form-check-sign"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <input type="datetime-local" class="form-control" id="hiredDate" />
                                        </td>
                                        <td class="text-center">

                                            <input class="bootstrap-switch" type="checkbox" checked data-toggle="switch" data-on-label="<i class='nc-icon nc-check-2'></i>" data-off-label="<i class='nc-icon nc-simple-remove'></i>"
                                                   data-on-color="success" data-off-color="success" id="hiredPassed" /><br />


                                        </td>
                                    </tr>
                                </tbody>


                            </table>
                        </div><!-- end content-->
                    </div><!--  end card  -->
                </div> <!-- end col-md-12 -->
            </div> <!-- end row -->

        </div>

    }
    else
    {
        <div class="container-fluid">
            <h1>UNAUTHORIZED ACCESS</h1>
        </div>
    }

    <script>

    </script>
    <script>
        $(document).ready(function () {
            var jobStatus = "@Model.LastOrDefault().status";
            var jobBranches = "@Model.LastOrDefault().branches";
            var isHeadOffice = jobBranches.includes("HEAD OFFICE");
            var inclusiveDate = "@Model.LastOrDefault().inclusiveDate";
            var sentInvitation = "@Model.LastOrDefault().sentInvitation";
            var passed = "@Model.LastOrDefault().passed";

            //EVENT WHEN FORM LOAD
            if (jobStatus == "active") {
                $("#active").prop('checked', 'checked');
                $("#activePassed").prop('checked', false);
                if ($("#shortlistedSentInvitation") == "True") {
                    $('#activeRejection').hide();
                    $("#shortlistedPassed").prop('checked', true);
                    $("#shortlistedPassed").prop("disabled", true);
                    $('#shortlistedRejection').show();
                }
                else {
                    $('#activeRejection').show();
                    $("#shortlistedPassed").prop('checked', false);
                    $("#shortlistedPassed").prop("disabled", true);
                    $('#shortlistedRejection').hide();
                }

                $('#divActive').show();
                $('#divShortlisted').hide();
                $('#divInitialExam').hide();
                $('#divFinalInterview').hide();
                $('#divGideon').hide();
                $('#divFinalExam').hide();
                $('#divJobOffer').hide();
                $('#divHired').hide();
            }

            if (jobStatus == "shortlisted") {
                $("#shortlisted").prop('checked', 'checked');
                GetStatus();

                $("#activePassed").prop('checked', true);
                $("#activePassed").prop("disabled", false);

                if ($("#initialExamSentInvitation") == "true") {
                    $("#initialExamPassed").prop('checked', true);
                    $("#initialExamPassed").prop("disabled", false);
                    $('#initialExamRejection').show();
                }
                else {
                    $("#initialExamPassed").prop('checked', false);
                    $("#initialExamPassed").prop("disabled", true);
                    $('#initialExamRejection').hide();
                }

                $('#divShortlisted').show();
                //$('#divInitialExam').hide();
                $('#divFinalInterview').hide();
                $('#divGideon').hide();
                $('#divFinalExam').hide();
                $('#divJobOffer').hide();
                $('#divHired').hide();
            }

            if (jobStatus == "initial examination") {
                $("#initialExam").prop('checked', 'checked');
                GetStatus();

                $("#shorlistedPassed").prop('checked', true);
                $("#shorlistedPassed").prop("disabled", false);

                if ($("#finalInterviewSentInvitation") == "true") {
                    $("#finalInterviewPassed").prop('checked', true);
                    $("#finalInterviewPassed").prop("disabled", false);
                    $('#finalInterviewRejection').show();
                }
                else {
                    $("#finalInterviewPassed").prop('checked', false);
                    $("#finalInterviewPassed").prop("disabled", true);
                    $('#finalInterviewRejection').hide();
                }

                $('#divShortlisted').show();
                //$('#divInitialExam').hide();
                $('#divFinalInterview').hide();
                $('#divGideon').hide();
                $('#divFinalExam').hide();
                $('#divJobOffer').hide();
                $('#divHired').hide();
            }

            if (jobStatus == "final interview") {
                $("#finalInterview").prop('checked', 'checked');
                GetStatus();

                $("#initialExamPassed").prop('checked', true);
                $("#initialExamPassed").prop("disabled", false);

                if ($("#gideonSentInvitation") == "true") {
                    $("#gideonPassed").prop('checked', true);
                    $("#gideonPassed").prop("disabled", false);
                    $('#gideonRejection').show();
                    $('#gideonEmailPassed').show();
                }
                else {
                    $("#gideonPassed").prop('checked', false);
                    $("#gideonPassed").prop("disabled", true);
                    $('#gideonRejection').hide();
                    $('#gideonEmailPassed').hide();
                }

                $('#divShortlisted').show();
                $('#divInitialExam').show();
                //$('#divFinalInterview').hide();
                $('#divGideon').hide();
                $('#divFinalExam').hide();
                $('#divJobOffer').hide();
                $('#divHired').hide();
            }

            if (jobStatus == "gideon") {
                $("#gideon").prop('checked', 'checked');
                GetStatus();

                $("#finalInterviewPassed").prop('checked', true);
                $("#finalInterviewPassed").prop("disabled", false);

                if ($("#finalExamSentInvitation") == "true") {
                    $("#finalExamPassed").prop('checked', true);
                    $("#finalExamPassed").prop("disabled", true);
                    $('#finalExamRejection').show();
                }
                else {
                    $("#finalExamPassed").prop('checked', true);
                    $("#finalExamPassed").prop("disabled", true);
                    $('#finalExamRejection').show();
                }

                $('#divShortlisted').show();
                $('#divInitialExam').show();
                $('#divFinalInterview').show();
                $('#divGideon').show();
                $('#divFinalExam').hide();
                $('#divJobOffer').hide();
                $('#divHired').hide();
            }

            if (jobStatus == "second set of examination") {
                $("#finalExam").prop('checked', 'checked');
                GetStatus();

                $("#gideonPassed").prop('checked', true);
                $("#gideonPassed").prop("disabled", false);

                //if ($("#finalExamSentInvitation") == "true") {
                //    $("#finalExamPassed").prop('checked', true);
                //    $("#finalExamPassed").prop("disabled", false);
                //    $('#finalExamRejection').show();
                //}
                //else {
                //    $("#finalExamPassed").prop('checked', false);
                //    $("#finalExamPassed").prop("disabled", true);
                //    $('#finalExamRejection').hide();
                //}

                $('#divShortlisted').show();
                $('#divInitialExam').show();
                $('#divFinalInterview').show();
                $('#divGideon').show();
                $('#divFinalExam').show();
                $('#divJobOffer').hide();
                $('#divHired').hide();
            }

            if (jobStatus == "hired") {
                $("#finalExam").prop('checked', 'checked');
                GetStatus();

                //$("#jobOfferPassed").prop('checked', true);
                //$("#jobOfferPassed").prop("disabled", false);


                //if ($("#finalExamSentInvitation") == "true") {
                //    $("#finalExamPassed").prop('checked', true);
                //    $("#finalExamPassed").prop("disabled", false);
                //    $('#finalExamRejection').show();
                //}
                //else {
                //    $("#finalExamPassed").prop('checked', false);
                //    $("#finalExamPassed").prop("disabled", true);
                //    $('#finalExamRejection').hide();
                //}

                $('#divShortlisted').show();
                $('#divInitialExam').show();
                $('#divFinalInterview').show();
                $('#divFinalExam').show();
                $('#divJobOffer').hide();
                $('#divHired').show();
            }
            //SWITCH CLICK EVENT
            //ACTIVE
            $('#activePassed').on('switchChange.bootstrapSwitch', function (event, state) {
                if (state == true) {
                    $("#active").prop('checked', '');
                    $('#activeRejection').hide();
                    $("#shortlisted").prop('checked', 'checked');
                    $('#divShortlisted').show();
                }
                else {
                    $('#activeRejection').show();
                    $("#active").prop('checked', 'checked');
                    $("#shortlisted").prop('checked', '');
                    $('#divShortlisted').hide();
                }
            });

            //SHORTLISTED
            $('#shortlistedPassed').on('switchChange.bootstrapSwitch', function (event, state) {

                updatePassed(state, "shortlisted");
                $('#initialExamEmailPassed').hide();
                if (state == true) {
                    $("#shortlisted").prop('checked', '');
                    $('#shortlistedRejection').hide();
                    $('#shorlistedInitialInvitation').hide();
                    $("#initialExam").prop('checked', 'checked');
                    $('#divInitialExam').show();
                }
                else {
                    $('#shortlistedRejection').show();
                    $('#shorlistedInitialInvitation').show();
                    $("#shortlisted").prop('checked', 'checked');
                    $("#initialExam").prop('checked', '');
                    $('#divInitialExam').hide();
                }
            });

            //INITIAL EXAMINATION
            $('#initialExamPassed').on('switchChange.bootstrapSwitch', function (event, state) {
                updatePassed(state, "initial examination");
                if (state == true) {
                    $("#initialExam").prop('checked', '');
                    $('#initialExamEmailPassed').show();
                    $('#initialExamRejection').hide();
                    $('#initialExamInvitation').hide();
                    $('#scheduleInitialExam').hide();
                    $("#finalInterview").prop('checked', 'checked');
                    $('#divFinalInterview').show();
                }
                else {
                    $('#initialExamRejection').show();
                    $('#initialExamEmailPassed').hide();
                    $('#initialExamInvitation').show();
                    $('#scheduleInitialExam').show();
                    $("#initialExam").prop('checked', 'checked');
                    $("#finalInterview").prop('checked', '');
                    $('#divFinalInterview').hide();
                }
            });

            //FINAL INTERVIEW
            $('#finalInterviewPassed').on('switchChange.bootstrapSwitch', function (event, state) {
                updatePassed(state, "final interview");
                if (state == true) {
                    $("#finalInterview").prop('checked', '');
                    $('#finalInterviewRejection').hide();
                    $('#finalInterviewInvitation').hide();
                    $("#gideon").prop('checked', 'checked');
                    $('#divGideon').show();
                }
                else {
                    $('#finalInterviewRejection').show();
                    $('#finalInterviewInvitation').show();
                    $("#finalInterview").prop('checked', 'checked');
                    $("#gideon").prop('checked', '');
                    $('#divGideon').hide();
                }
            });

            //GIDEON
            $('#gideonPassed').on('switchChange.bootstrapSwitch', function (event, state) {
                updatePassed(state, "gideon");
                if (state == true) {
                    $("#gideon").prop('checked', '');
                    $('#gideonEmailPassed').show();
                    $('#gideonRejection').hide();
                    $('#gideonInvitation').hide();
                    $("#finalExam").prop('checked', 'checked');
                    $('#divFinalExam').show();
                }
                else {
                    $('#gideonRejection').show();
                    $('#gideonEmailPassed').hide();
                    $('#gideonInvitation').show();
                    $("#gideon").prop('checked', 'checked');
                    $("#finalExam").prop('checked', '');
                    $('#divFinalExam').hide();
                }
            });
           
        });
    </script>

    <script>
        var jobId = "@Model.LastOrDefault().id";
        var applicantId = "@Model.LastOrDefault().applicantId";
        var jobStatus = "@Model.LastOrDefault().status";
        var jobBranches = "@Model.LastOrDefault().branches";
        var isHeadOffice = jobBranches.includes("HEAD OFFICE");

        function GetStatus() {
                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("GetStat", "JobApplications")",
                        data: {
                            jobId: jobId,
                            applicantId: applicantId,
                            status: jobStatus
                        },
                        success: function (data) {
                            //console.log(data);
                            $.each(data, function (index, res) {
                               // console.log(res.status);
                                //SHORTLISTED
                                if (res.status == "shortlisted") {
                                    $("#shortlisted").prop('checked', 'checked');
                                    $("#activeRejection").hide();
                                    $("#activePassed").bootstrapSwitch('state', true);
                                    $("#activePassed").bootstrapSwitch('disabled', true);

                                    $('#shortlistedDate').val(res.inclusiveDate);
                                    $('#shortlistedSentInvitation').val(res.sentInvitation);
                                    $('#shortlistedPass').val(res.passed);

                                    if (res.passed == true) {
                                        $("#shortlistedRejection").hide();
                                        $("#shortlistedPassed").bootstrapSwitch('state', true);
                                        $('#divInitialExam').show();
                                    }
                                    else {
                                        $("#shortlistedRejection").show();
                                        $("#shortlistedPassed").bootstrapSwitch('state', false);
                                        $('#divInitialExam').hide();
                                    }

                                    $('#divShortlisted').show();
                                    $('#divFinalInterview').hide();
                                    $('#divGideon').hide();
                                    $('#divFinalExam').hide();
                                    $('#divJobOffer').hide();
                                }

                                //INITIAL EXAM
                                if (res.status == "initial examination") {

                                    $("#initialExam").prop('checked', 'checked');
                                    $("#shortlistedRejection").hide();
                                    $("#shortlistedPassed").bootstrapSwitch('state', true);
                                    $("#shortlistedPassed").bootstrapSwitch('disabled', true);


                                    $('#initialExamDate').val(res.inclusiveDate);
                                    $('#initialExamSentInvitation').val(res.sentInvitation);
                                    $('#initialExamPass').val(res.passed);

                                    if (res.passed == true) {
                                        $("#shortlistedDate").prop('disabled', true);
                                        $("#initialExamEmailPassed").show();
                                        $("#initialExamRejection").hide();
                                        $("#initialExamPassed").bootstrapSwitch('state', true);
                                        $('#divFinalInterview').show();
                                    }
                                    else {
                                        $("#shortlistedDate").prop('disabled', false);
                                        $("#initialExamEmailPassed").hide();
                                        $("#initialExamRejection").show();
                                        $("#initialExamPassed").bootstrapSwitch('state', false);
                                        $('#divFinalInterview').hide();
                                    }

                                    $('#divShortlisted').show();
                                    $('#divGideon').hide();
                                    $('#divFinalExam').hide();
                                    $('#divJobOffer').hide();
                                }

                                //FINAL INTERVIEW
                                if (res.status == "final interview") {
                                    $("#finalInterview").prop('checked', 'checked');
                                    $("#initialExamRejection").hide();
                                    $("#initialExamPassed").bootstrapSwitch('state', true);
                                    $("#initialExamPassed").bootstrapSwitch('disabled', true);
                                    $('#scheduleInitialExam').hide();
                                    $('#initialExamInvitation').hide();
                                    $('#initialExamEmailPassed').hide();

                                    $('#finalInterviewDate').val(res.inclusiveDate);
                                    $('#finalInterviewSentInvitation').val(res.sentInvitation);
                                    $('#finalInterviewPass').val(res.passed);

                                    if (res.passed == true) {
                                        $("#initialExamDate").prop('disabled', true);
                                        $("#finalInterviewRejection").hide();
                                        $("#finalInterviewPassed").bootstrapSwitch('state', true);
                                        $('#divGideon').show();
                                    }
                                    else {
                                        $("#initialExamDate").prop('disabled', false);
                                        $("#finalInterviewRejection").show();
                                        $("#finalInterviewPassed").bootstrapSwitch('state', false);
                                        $('#divGideon').hide();
                                    }

                                    $('#divShortlisted').show();
                                    $('#divInitialExam').show();
                                    $('#divFinalExam').hide();
                                    $('#divJobOffer').hide();
                                }

                                //GIDEON
                                if (res.status == "gideon") {
                                    $("#gideon").prop('checked', 'checked');
                                    $("#finalInterviewRejection").hide();
                                    $("#finalInterviewPassed").bootstrapSwitch('state', true);
                                    $("#finalInterviewPassed").bootstrapSwitch('disabled', true);
                                    $('#finalInterviewInvitation').hide();

                                    $('#gideonDate').val(res.inclusiveDate);
                                    $('#gideonSentInvitation').val(res.sentInvitation);
                                    $('#gideonPass').val(res.passed);

                                    if (res.passed == true) {
                                        $("#finalInterviewDate").prop('disabled', true);
                                        $("#gideonEmailPassed").show();
                                        $("#gideonRejection").hide();
                                        $("#gideonPassed").bootstrapSwitch('state', true);
                                        $('#divFinalExam').show();
                                    }
                                    else {
                                        $("#finalInterviewDate").prop('disabled', false);
                                        $("#gideonEmailPassed").hide();
                                        $("#gideonRejection").show();
                                        $("#gideonPassed").bootstrapSwitch('state', false);
                                        $('#divFinalExam').hide();
                                    }

                                    $('#divShortlisted').show();
                                    $('#divInitialExam').show();
                                    $('#divJobOffer').hide();
                                }


                                //FINAL EXAM
                                if (res.status == "second set of examination") {
                                    $("#finalExam").prop('checked', 'checked');
                                    $("#gideonRejection").hide();
                                    $("#gideonPassed").bootstrapSwitch('state', true);
                                    $("#gideonPassed").bootstrapSwitch('disabled', true);
                                    $('#gideonInvitation').hide();
                                    $('#gideonEmailPassed').hide();

                                    $('#finalExamDate').val(res.inclusiveDate);
                                    $('#finalExamSentInvitation').val(res.sentInvitation);
                                    $('#finalExamPass').val(res.passed);

                                    if (res.passed == true) {
                                        $("#gideonDate").prop('disabled', true);
                                        $("#finalExamEmailPassed").show();
                                        $("#finalExamRejection").hide();
                                        //$("#finalExamPassed").bootstrapSwitch('state', true);
                                       // $('#divFinalExam').show();
                                    }
                                    else {
                                        $("#gideonDate").prop('disabled', false);
                                        $("#finalExamEmailPassed").hide();
                                        $("#finalExamRejection").show();
                                        //$("#finalExamPassed").bootstrapSwitch('state', false);
                                        //$('#divFinalExam').hide();
                                    }

                                    $('#divShortlisted').show();
                                    $('#divInitialExam').show();
                                    $('#divJobOffer').hide();
                                }

                                //HIRED
                                if (res.status == "hired") {
                                    $("#hired").prop('checked', 'checked');
                                    $("#finalExamRejection").hide();
                                    $("#finalExamPassed").bootstrapSwitch('state', true);
                                    $("#finalExamPassed").bootstrapSwitch('disabled', true);
                                    $('#finalExamInvitation').hide();
                                    $('#finalExamEmailPassed').hide();

                                    $('#hiredDate').val(res.inclusiveDate);
                                    $('#hiredSentInvitation').val(res.sentInvitation);
                                    $('#hiredPass').val(res.passed);

                                    $("#hiredPassed").bootstrapSwitch('disabled', true);

                                    if (res.passed == true) {
                                        $("#finalExamDate").prop('disabled', true);
                                        $("#hiredEmailPassed").show();
                                        $("#hiredRejection").hide();
                                        //$("#finalExamPassed").bootstrapSwitch('state', true);
                                        // $('#divFinalExam').show();
                                    }
                                    else {
                                        $("#finalExamDate").prop('disabled', false);
                                        $("#hiredEmailPassed").hide();
                                        $("#hiredRejection").show();
                                        //$("#finalExamPassed").bootstrapSwitch('state', false);
                                        //$('#divFinalExam').hide();
                                    }

                                    $('#divShortlisted').show();
                                    $('#divInitialExam').show();
                                    $('#divJobOffer').hide();
                                    $('#divFinalExam').show();
                                }
                            });

                        }
                    })
                }
    </script>

    //EMAIL INVITAION
    <script>
        function sendInvitationEmail(status) {

           var jobId = "@Model.LastOrDefault().id";
            var applicantId = "@Model.LastOrDefault().applicantId";
            var jobSlug = "@Model.LastOrDefault().jobSlug";
            var incDate;
            var pass;
            var jobBranches = "@Model.LastOrDefault().branches";
            var isHeadOffice = jobBranches.includes("HEAD OFFICE");

            var incDate;
            var pass;
            var URL;
            var msg;
            if (status == "shortlisted") {
                incDate = $("#shortlistedDate").val();
                pass = $("#shortlistedPass").val();
                URL = "@Url.Action("InitialInterviewEmailBranch", "JobApplications")";
            }
            if (status == "initial examination") {
                var dt = new Date();
                var currDate = dt.getMonth() + "/" + dt.getDate() + "/" + dt.getFullYear();
                incDate = currDate;
                pass = $("#initialExamPass").val();
                URL = "@Url.Action("OnlineExamEmailBranchHo", "JobApplications")"
                msg = "Initial Exam";
            }
            if (status == "final interview") {
               
                var currDate = $("#finalInterviewDate").val();
                incDate = currDate;
                pass = $("#finalInterviewPass").val();
                URL = "@Url.Action("FinalInterviewBranch", "JobApplications")"
                msg = "Final Interview";
            }
            if (status == "gideon") {
                incDate = $("#gideonDate").val();
                pass = $("#gideonPass").val();
                URL = "@Url.Action("GideonInvitation", "JobApplications")"
                msg = "Gideon";
            }
            if (status == "second set of examination") {
                incDate = $("#finalExamDate").val();
                pass = true;
                URL = "@Url.Action("SecondSetExam", "JobApplications")"
                msg = "Second Set of Examination";
            }

            if (status == "job offer") {
                incDate = $("#jobOfferDate").val();
                pass = $("#jobOfferPass").val();
                URL = "@Url.Action("InitialExamEmail", "JobApplications")"
                msg = "Job Offer";
            }

            var formData = new FormData();
            formData.append("jobId", jobId);
            formData.append("applicantId", applicantId);
            formData.append("jobSlug", jobSlug);
            formData.append("inclusiveDate", incDate );
            formData.append("sentInvitation", true);
            formData.append("shortlistedPass", pass);
            formData.append("status", status);

            swal({
                title: "Are you sure?",
                text: "This will notify the applicant via email ",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: false
            }, function () {
                    swal({
                        title: 'Please Wait..!',
                        text: 'Saving Record',
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        allowEnterKey: false,
                        showCancelButton: false,
                        showConfirmButton: false,
                        onOpen: () => {
                            swal.showLoading()
                        }
                    })
                    $.ajax({
                        type: "POST",
                        url: URL,
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            swal("Success", "Email Sent.", "success");
                            window.location.href = '@Url.Action("AdminList", "JobApplications")';
                        }
                    })
            });



        }
    </script>

    <script>
        $('#shorlistedInitialInvitation').click(function () {
            // console.log($("#shortlistedSentInvitation").val());
            if ($("#shortlistedSentInvitation").val() == "true") {
                swal({
                    title: "Email already sent.",
                    text: "Would you like to send it again?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                    closeOnConfirm: false
                }, function () {
                    if ($("#shortlistedDate").val() == "") {
                        swal("Error", "Schedule for Initial Interview must not be empty", "error");
                    }
                    else {
                        sendInvitationEmail("shortlisted");
                    }
                });
            }
            else {
                if ($("#shortlistedDate").val() == "") {
                    swal("Error", "Schedule for Initial Interview must not be empty", "error");
                }
                else {
                    sendInvitationEmail("shortlisted");
                }
            }
        });

        $('#initialExamInvitation').click(function () {
            if ($("#initialExamSentInvitation").val() == "true") {
                swal({
                    title: "Email already sent.",
                    text: "Would you like to send it again?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                    closeOnConfirm: false
                }, function () {
                    sendInvitationEmail("initial examination");
                });
            }
            else {
                sendInvitationEmail("initial examination");
            }
        });

        $('#finalInterviewInvitation').click(function () {
            if ($("#finalInterviewSentInvitation").val() == "true") {
                swal({
                    title: "Email already sent.",
                    text: "Would you like to send it again?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                    closeOnConfirm: false
                }, function () {
                        if ($("#finalInterviewDate").val() == "") {
                            swal("Error", "Schedule for Final Interview must not be empty", "error");

                        }

                        else {
                            sendInvitationEmail("final interview");
                        }
                });
            }
            else {
                if ($("#finalInterviewDate").val() == "") {
                    swal("Error", "Schedule for Final Interview must not be empty", "error");

                }

                else {
                    sendInvitationEmail("final interview");
                }
            }
        });

        $('#gideonInvitation').click(function () {
            if ($("#gideonSentInvitation").val() == "true") {
                swal({
                    title: "Email already sent.",
                    text: "Would you like to send it again?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                    closeOnConfirm: false
                }, function () {
                    if ($("#finalInterviewDate").val() == "") {
                        swal("Error", "Schedule for Gideon must not be empty", "error");

                    }

                    else {
                        sendInvitationEmail("gideon");
                    }
                });
            }
            else {
                if ($("#finalInterviewDate").val() == "") {
                    swal("Error", "Schedule for Gideon must not be empty", "error");

                }

                else {
                    sendInvitationEmail("gideon");
                }
            }
        });

        $('#finalExamInvitation').click(function () {
            if ($("#finalExamSentInvitation").val() == "true") {
                swal({
                    title: "Email already sent.",
                    text: "Would you like to send it again?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                    closeOnConfirm: false
                }, function () {
                    if ($("#finalInterviewDate").val() == "") {
                        swal("Error", "Schedule for the Exam must not be empty", "error");

                    }

                    else {
                        sendInvitationEmail("second set of examination");
                    }
                });
            }
            else {
                if ($("#finalInterviewDate").val() == "") {
                    swal("Error", "Schedule for the Exam must not be empty", "error");

                }

                else {
                    sendInvitationEmail("second set of examination");
                }
            }
        });
    </script>

    //UPDATE PASSED
    <script>
        function updatePassed(state, jStatus) {
            var jobId = "@Model.LastOrDefault().id";
            var applicantId = "@Model.LastOrDefault().applicantId";
            console.log(jobId + "," + applicantId);
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdatePassed", "JobApplications")",
                data: {
                    jobId: jobId,
                    applicantId: applicantId,
                    passed: state,
                    status: jStatus
                }
            })
        }
    </script>

    //EMAILS PASSED
    <script>
        function sendPassedEmail(url) {
            var jobId = "@Model.LastOrDefault().id";
            var applicantId = "@Model.LastOrDefault().applicantId";
            var jobSlug = "@Model.LastOrDefault().jobSlug";

            var formData = new FormData();
            formData.append("id", jobId);
            formData.append("applicantId", applicantId);
            formData.append("jobSlug", jobSlug);

            swal({
                title: "Are you sure?",
                text: "This will inform the applicant to proceed to the next step process.",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: false
                }, function () {
                    swal({
                        title: 'Please Wait..!',
                        text: 'Saving Record',
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        allowEnterKey: false,
                        showCancelButton: false,
                        showConfirmButton: false,
                        onOpen: () => {
                            swal.showLoading()
                        }
                    })
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            swal("Success", "Email Sent.", "success");
                           // window.location.href = '@Url.Action("AdminList", "JobApplications")';
                        }
                    })
                });
        }
    </script>

    <script>
        $('#initialExamEmailPassed').click(function () {
            sendPassedEmail("@Url.Action("PassedOnlineExamBranchHo", "JobApplications")");
        });
        $('#gideonEmailPassed').click(function () {
            sendPassedEmail("@Url.Action("GideonPassed", "JobApplications")");
        });
        $('#finalExamRejection').click(function () {
            var jobId = "@Model.LastOrDefault().id";
            var applicantId = "@Model.LastOrDefault().applicantId";
            var jobSlug = "@Model.LastOrDefault().jobSlug";

            var formData = new FormData();
            formData.append("id", jobId);
            formData.append("applicantId", applicantId);
            formData.append("jobSlug", jobSlug);

            swal({
                title: "Are you sure?",
                text: "This will inform the applicant the list of Requirements.",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: false
                }, function () {
                    swal({
                        title: 'Please Wait..!',
                        text: 'Saving Record',
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        allowEnterKey: false,
                        showCancelButton: false,
                        showConfirmButton: false,
                        onOpen: () => {
                            swal.showLoading()
                        }
                    })
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("SubmissionRequirements", "JobApplications")',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            swal("Success", "Email Sent.", "success");
                           // window.location.href = '@Url.Action("AdminList", "JobApplications")';
                        }
                    })
                });
        });
    </script>

    //EMAILS FAILED
    <script>
        function sendFailedEmail(url) {
            var jobId = "@Model.LastOrDefault().id";
            var applicantId = "@Model.LastOrDefault().applicantId";
            var jobSlug = "@Model.LastOrDefault().jobSlug";

            var formData = new FormData();
            formData.append("id", jobId);
            formData.append("applicantId", applicantId);
            formData.append("jobSlug", jobSlug);

            swal({
                title: "Are you sure?",
                text: "This will inform the applicant NOT to proceed to the next step process.",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: false
                }, function () {
                    swal({
                        title: 'Please Wait..!',
                        text: 'Saving Record',
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        allowEnterKey: false,
                        showCancelButton: false,
                        showConfirmButton: false,
                        onOpen: () => {
                            swal.showLoading()
                        }
                    })
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            swal("Success", "Email Sent.", "success");
                            window.location.href = '@Url.Action("AdminList", "JobApplications")';
                        }
                    })
                });
        }
    </script>
    <script>
        $('#activeRejection').click(function () {
            sendFailedEmail("@Url.Action("SendFailedEmailResume", "JobApplications")");
        });
        $('#shortlistedRejection').click(function () {
            sendFailedEmail("@Url.Action("SendFailedEmailInitialInterview", "JobApplications")");
        });
        $('#initialExamRejection').click(function () {
            sendFailedEmail("@Url.Action("SendFailedEmailExam", "JobApplications")");
        });
        $('#finalInterviewRejection').click(function () {
            sendFailedEmail("@Url.Action("SendFailedEmailFinalInterview", "JobApplications")");
        });
        $('#gideonRejection').click(function () {
            sendFailedEmail("@Url.Action("SendFailedEmaiGideon", "JobApplications")");
        });
        
    </script>


}
